In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from shapely.geometry import Point

In [2]:
database_name = 'scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

In [3]:
query = '''
SELECT companyname AS scooters_companynames
FROM scooters
GROUP BY companyname;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    scooters_companies = pd.read_sql(text(query), connection)

In [4]:
query = '''
SELECT companyname AS trips_companynames
FROM trips
GROUP BY companyname;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trips_companies = pd.read_sql(text(query), connection)

In [5]:
scooters_companies

  scooters_companynames
0                  Bird
1                  Bolt
2                Gotcha
3                  Jump
4                  Lime
5                  Lyft
6                  Spin

In [6]:
trips_companies.info

<bound method DataFrame.info of   trips_companynames
0               Bird
1      Bolt Mobility
2             Gotcha
3               JUMP
4               Lime
5               Lyft
6               SPIN>

In [7]:
pd.merge(scooters_companies,trips_companies,  left_on = 'scooters_companynames', right_on = 'trips_companynames', how = 'outer')

  scooters_companynames trips_companynames
0                  Bird               Bird
1                  Bolt                NaN
2                Gotcha             Gotcha
3                  Jump                NaN
4                  Lime               Lime
5                  Lyft               Lyft
6                  Spin                NaN
7                   NaN      Bolt Mobility
8                   NaN               JUMP
9                   NaN               SPIN