- EDA -------------------------------------------

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd
import seaborn as sns 
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from shapely.geometry import Point

In [ ]:
database_name = 'scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

- looking up company names  for each table and comparing

In [ ]:
query = '''
SELECT companyname AS scooters_companynames
FROM scooters
GROUP BY companyname;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    scooters_companies = pd.read_sql(text(query), connection)

In [ ]:
query = '''
SELECT companyname AS trips_companynames
FROM trips
GROUP BY companyname;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trips_companies = pd.read_sql(text(query), connection)

In [ ]:
scooters_companies

In [ ]:
trips_companies

In [ ]:
pd.merge(scooters_companies,trips_companies,  left_on = 'scooters_companynames', right_on = 'trips_companynames', how = 'outer')

--------------------------------------------------------------------------------------------------------------------------

- Exploring trip duration

In [ ]:
query = '''
SELECT MIN(tripduration) AS min_tripduration, 
AVG(tripduration) AS avg_tripduration,
MAX(tripduration) AS max_tripduration 
FROM trips;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration = pd.read_sql(text(query), connection)

In [ ]:
trip_duration

In [ ]:
query = '''
SELECT * 
FROM trips
WHERE (tripduration <0);
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration_negative = pd.read_sql(text(query), connection)

query = '''
SELECT * 
FROM trips
WHERE (tripduration >1440); 
'''
#start date = end date
#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration_positive = pd.read_sql(text(query), connection)

In [ ]:
trip_duration_negative

In [ ]:
query = '''
SELECT * 
FROM trips
WHERE (tripduration >0);
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration_positive = pd.read_sql(text(query), connection)

In [ ]:
trip_duration_positive

-many of the trip durations do not match up with the actual length of times when you compare the start and stop time of the trip.

- When comparing time stamps from the trips and scooters table, it looks like all scooters upload gps location data every 5 minutes to the scooter table. When the scooter is rented that 5 minute timer is paused for the duration of the rental. gps information for the duration of the rental is then uplaoded into the trips table. Once the rental is complete the timer is unpaused and when it hit its 5 min mark, does another location upload to the scooter table. so if the timer runs for 2.5 min then has a 30 min rental, it will run for another 2.5 mins after the rental is complete before before sending another locaiton update to the scooter table.

----------------------------------------------------------------------------------

- to determine scooter utilization and desired desnity per area first we need to determine usage.

- we know that some ride times are negative so we can filter those out.
- we also know that some of the trip durations in the tripdurations column are incorect. So we need to calculate correct trip duration by using (trip endtime - trip start time)
- from here we can sum( trip durations) and group the trips table by sumdid and pubtimestamp with pubtimestampt that has been converted to a date only format.
- the results of this will show us how many minutes each scooter was used every day.

- from the results above we can do a few thigns. If we divide by 1440( minutes in a day) we can get the utilization rate of a scooter for day.
-this will tell us how much scooters are being used, which we can then compare by company, date, price, etc.
- we can also geolocate this data andfigure out which areas had a high utilization rate and which ones had a low utilization rate.
-for geolocation, because noscooter is going to have identical coorinates, if we drop the last number or last 2 numbers we can probably better group them.
- areas with a high ultization rate means there are not enough scooters, areas with low utilization rate means there are too many scooters
-some of the charts we can use to show utilization rates might be a histgram or box chart.


- another thing we can do is group the scooters table by sumdid and date and compare this to the resulsts we have already gotten to see if any scooters were not used at all

-code for scooter use in sql
WITH cte1 AS (SELECT pubtimestamp::date,
    		companyname,
    		sumdid, 
			startdate+starttime AS trip_start,
			enddate+endtime AS trip_end
			FROM TRIPS),
	cte2 as 
	 	(SELECT pubdatetime::date AS pubtimestamp, sumdid, companyname
			FROM scooters
			GROUP BY sumdid, companyname, pubtimestamp)
SELECT 
    pubtimestamp::date AS date,
    companyname,
    sumdid, 
	SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) AS total_min_per_day_used,
	ROUND((SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) / 1440.0 * 100)::numeric, 3) || '%' AS trip_use_per_day_percent
	--trip_start,
	--trip_end,
    --startdate
	--starttime,
	--enddate,
  	--endtime,
	--startlatitude,
    --startlongitude,
    --endlatitude,
    --endlongitude,
    --triproute,
FROM trips
FULL JOIN cte1 USING(pubtimestamp, companyname, sumdid)
FULL JOIN cte2 USING(pubtimestamp, sumdid, companyname)
GROUP BY sumdid, companyname, date

In [ ]:
query = '''
WITH CTE AS (WITH tri AS (SELECT pubtimestamp::date,
    							companyname,
    							sumdid, 
								startdate+starttime AS trip_start,
								enddate+endtime AS trip_end
								FROM TRIPS),
				sco as 
	 					(SELECT pubdatetime::date AS pubtimestamp, sumdid, companyname
							FROM (SELECT pubdatetime, sumdid, CASE WHEN companyname = 'Bolt' THEN 'Bolt Mobility'
		  							WHEN companyname = 'Jump' THEN 'JUMP' WHEN companyname = 'Spin' THEN 'SPIN' ELSE companyname END AS companyname 
		  							FROM scooters) AS scooters2 
									GROUP BY sumdid, companyname, pubtimestamp)
			SELECT 
    		pubtimestamp::date AS date, companyname, sumdid, 
			SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) AS min_per_day,
			ROUND((SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) / 1440.0 * 100)::numeric, 3) || '%' AS percent_per_day
			--trip_start,
			--trip_end,
    		--startdate
			--starttime,
			--enddate,
  			--endtime,
			--startlatitude,
    		--startlongitude,
    		--endlatitude,
    		--endlongitude,
    		--triproute,
			FROM trips
			FULL JOIN tri USING(pubtimestamp, companyname, sumdid)
			FULL JOIN sco USING(pubtimestamp, sumdid, companyname)
			GROUP BY sumdid, companyname, date)
SELECT * FROM CTE 
WHERE min_per_day <1440 OR min_per_day IS NULL;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    scooter_use = pd.read_sql(text(query), connection)

In [ ]:
# entire scooter use table
scooter_use

In [ ]:
# scooter use table of scooters that received some usage on a particular date
scooter_use_not_nan = scooter_use[(scooter_use['min_per_day'].notna()) & (scooter_use['min_per_day'] >= 1)]
scooter_use_not_nan

In [ ]:
#scooter use table of only scooters that were not used on a particular date
# counting scooters that are NaN and scooters with under 1 min use per day as these scooters would not go far and not financially viable

scooters_little_to_no_use = scooter_use[scooter_use['min_per_day'].isna() | (scooter_use['min_per_day'] < 1)].sort_values(by='min_per_day')
scooters_little_to_no_use

-- IGNORE
to be used in liu of little to no use dataframe if <1 is not desired
#scooter use table of only scooters that were not used on a particular date
scooter_use_is_nan = scooter_use[scooter_use['total_min_per_day_used'].na()] 
scooter_use_is_nan

In [ ]:
#stacked barchart to show the number of scooters used and unused on any given day.

combined_df = pd.concat([scooter_use_not_nan, scooters_little_to_no_use])

# Filter the combined dataframe to get rows where 'total_min_per_day_used' > 0
total_scooter_used = combined_df[combined_df['min_per_day'].notna()]

# Filter the combined dataframe to get rows where 'total_min_per_day_used' is NaN
total_scooter_not_used = combined_df[combined_df['min_per_day'].isna()]

# Group the data by date and calculate the count of each group
total_scooter_used_counts = total_scooter_used.groupby('date').size()
total_scooter_not_used_counts = total_scooter_not_used.groupby('date').size()

# Get a list of unique dates for the x-axis
dates = combined_df['date'].unique()

# Ensure that both counts arrays have the same length
# Fill in missing dates with 0 counts
for date in dates:
    if date not in total_scooter_used_counts.index:
        total_scooter_used_counts[date] = 0
    if date not in total_scooter_not_used_counts.index:
        total_scooter_not_used_counts[date] = 0

# Sort the counts by date
total_scooter_used_counts = total_scooter_used_counts[dates].tolist()
total_scooter_not_used_counts = total_scooter_not_used_counts[dates].tolist()

# Create the stacked bar chart with "Scooters not used" as the bottom bar
plt.bar(dates, total_scooter_not_used_counts, label='Scooters not used')
plt.bar(dates, total_scooter_used_counts, label='Scooters used', bottom=total_scooter_not_used_counts)

# Customize the plot
plt.xlabel('Date')
plt.ylabel('Total Scooters')
plt.title('Scooter Usage by Date')
plt.legend()
plt.xticks(rotation=45)
plt.tight_layout()

# Show the plot
plt.show()

In [ ]:
#desnity chart that shows average percent use per day per company
# Ensure 'trip_use_per_day_percent' is treated as a string
scooter_use_not_nan['percent_per_day'] = scooter_use_not_nan['percent_per_day'].astype(str)

# Remove the '%' symbol and convert 'trip_use_per_day_percent' to numeric
scooter_use_not_nan['percent_per_day'] = scooter_use_not_nan['percent_per_day'].str.rstrip('%').astype(float)

# Create a density plot
plt.figure(figsize=(10, 6))
ax = sns.kdeplot(data=scooter_use_not_nan, x='percent_per_day', hue='companyname', fill=True, common_norm=False, palette='Set1')

# Limit the x-axis to 50
plt.xlim(0, 50)

# Customize the plot
plt.title('Density Plot of Average Trip Use Per Day Percent by Company')
plt.xlabel('trip_use_per_day_percent')
plt.ylabel('Density')

# Show the legend with different company names
plt.legend(labels=['company_names'], title='Company', loc='upper right')

# Show the plot
plt.show()

In [ ]:
# Denisty chart that shwos AVG min per day scooters are used by company
# Ensure 'total_min_per_day_used' is treated as a string
scooter_use_not_nan['min_per_day'] = scooter_use_not_nan['min_per_day'].astype(str)

# Remove any symbols and convert 'total_min_per_day_used' to numeric
scooter_use_not_nan['min_per_day'] = scooter_use_not_nan['min_per_day'].str.replace('[^\d.]', '', regex=True).astype(float)

# Create a density plot
plt.figure(figsize=(10, 6))
ax = sns.kdeplot(data=scooter_use_not_nan, x='min_per_day', hue='companyname', fill=True, common_norm=False, palette='Set1')

# Move the x-axis to 200
plt.xlim(0, 200)  # Adjust the range as needed

# Customize the plot
plt.title('Density Plot of Average Scooter Use Per Day by Company')
plt.xlabel('Avg Min Per Day Used')
plt.ylabel('Density')

# Get the unique company names for the legend
company_names = scooter_use_not_nan['companyname'].unique()

# Show the legend with company names
plt.legend(labels=company_names, title='Company', loc='upper right')

# Show the plot
plt.show()

In [ ]:
# Ensure 'total_min_per_day_used' is treated as a string
scooter_use_not_nan['min_per_day'] = scooter_use_not_nan['min_per_day'].astype(str)

# Remove any symbols and convert 'total_min_per_day_used' to numeric
scooter_use_not_nan['min_per_day'] = scooter_use_not_nan['min_per_day'].str.replace('[^\d.]', '', regex=True).astype(float)

# Create a density plot for the overall data
plt.figure(figsize=(10, 6))
ax = sns.kdeplot(data=scooter_use_not_nan, x='min_per_day',  fill=True, common_norm=False, color='blue')


plt.xlim(0, 200)  

# Customize the plot
plt.title('Density Plot of Average Scooter Use Per Day (All Companies)')
plt.xlabel('Avg Min Per Day Used')
plt.ylabel('Density')

# Show the plot
plt.show()

In [ ]:
scooter_use_not_nan.sort_values('min_per_day', ascending = False).head(100)

In [ ]:
scooter_use_not_nan.dtypes

In [ ]:
# count of scooters per day not being used
count_scooters_little_to_no_use = scooters_little_to_no_use['date'].value_counts().sort_index()

count_scooters_little_to_no_use

In [ ]:
#line chart that shows total number of unused scooters that are not being used per day.
count_scooters_little_to_no_use.index = pd.to_datetime(count_scooters_little_to_no_use.index)

plt.figure(figsize=(12, 6))
plt.plot(count_scooters_little_to_no_use.index, count_scooters_little_to_no_use.values, marker='o', linestyle='-', label='Count by Date (scooter_use_is_nan)')
plt.title('Number Of Unused Scooters by Date')
plt.xlabel('Date')
plt.ylabel('Total Number Of Unused Scooters Per Day')

# Calculate the mean and standard deviation
mean = count_scooters_little_to_no_use.mean()
std_deviation = count_scooters_little_to_no_use.std()

# Plot the standard deviation shaded region
plt.fill_between(count_scooters_little_to_no_use.index, mean - std_deviation, mean + std_deviation, color='gray', alpha=0.5, label='Â± 1 Std Dev')

# Plot the mean line
plt.axhline(y=mean, color='red', linestyle='--', label='Mean')

# Annotate the mean value on the line
plt.annotate(f'Mean: {mean:.2f}', xy=(count_scooters_little_to_no_use.index[0], mean), color='red')

# Rotate x-axis labels by 45 degrees
plt.xticks(rotation=45)

plt.grid(True)
plt.legend()
plt.show()

--------------------------------------------------------------------------------------------------------------------

- Working towards a folium mpa that density location of all unused scooters for entire time period

In [ ]:
query = '''
WITH cte AS (WITH tri AS (SELECT pubtimestamp::date,
    		companyname,
    		sumdid, 
			startdate+starttime AS trip_start,
			enddate+endtime AS trip_end,
			(startlatitude + endlatitude)/2 AS latitude,
			 (startlongitude + endlongitude)/2 AS longitude
			FROM trips),
	sco as 
	 	(SELECT pubdatetime::date AS pubtimestamp, sumdid, companyname, MAX(latitude) AS latitude, MAX(longitude) AS longitude
			FROM (SELECT pubdatetime, sumdid, latitude, longitude, CASE WHEN companyname = 'Bolt' THEN 'Bolt Mobility'
		  WHEN companyname = 'Jump' THEN 'JUMP' WHEN companyname = 'Spin' THEN 'SPIN' ELSE companyname END AS companyname 
		  FROM scooters) AS scooters2 
			GROUP BY sumdid, companyname, pubtimestamp)
SELECT 
    pubtimestamp::date AS date,
    companyname,
    sumdid, 
	MAX(tri.latitude) as lat1, 
	MAX(sco.latitude) as lat2, 
	MAX(tri.latitude+sco.latitude)/2 AS latitude,
	MAX(tri.longitude) as lon1,
	MAX(sco.longitude) as lon2,
	MAX(tri.longitude+sco.longitude)/2 AS longitude,
	SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) AS min_per_day,
	ROUND((SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) / 1440.0 * 100)::numeric, 3) || '%' AS percent_per_day
	--trip_start,
	--trip_end,
    --startdate
	--starttime,
	--enddate,
  	--endtime,
	--startlatitude,
    --startlongitude,
    --endlatitude,
    --endlongitude,
    --triproute,
FROM trips
FULL JOIN tri USING(pubtimestamp, companyname, sumdid)
FULL JOIN sco USING(pubtimestamp, sumdid, companyname)
GROUP BY sumdid, companyname, date)
SELECT date, companyname, sumdid, lat2, lon2, min_per_day, percent_per_day
FROM cte
WHERE min_per_day IS NULL OR min_per_day < 1;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    scooter_use_under_1_latlong = pd.read_sql(text(query), connection)

In [ ]:
# entire scooter use under <1min use table
scooter_use_under_1_latlong

In [ ]:
#rename lat2 and lon2 to latitude and longitude
scooter_use_under_1_latlong = scooter_use_under_1_latlong.rename(columns={'lat2':'latitude', 'lon2': 'longitude'})

In [ ]:
#adding geomtry column
scooter_use_under_1_latlong['geometry'] = scooter_use_under_1_latlong.apply(lambda x: Point((float(x.longitude), 
                                                         float(x.latitude))), 
                                        axis=1)
scooter_use_under_1_latlong.head()

In [ ]:
# converting scooter_use_under_1_latlong to a geodataframe
scooter_geo = gpd.GeoDataFrame(scooter_use_under_1_latlong, 
                           crs = 4326, 
                           geometry = scooter_use_under_1_latlong['geometry'])

In [ ]:
type(scooter_geo)

In [ ]:
#reading in zipcode file
zipcodes = gpd.read_file('../../data/zipcodes.geojson')
zipcodes

In [ ]:
#cutting columns
zipcodes = zipcodes[['zip', 'po_name', 'geometry']]

In [ ]:
#combining scooter geo df with zip codes
scooter_geo_by_zip = gpd.sjoin(scooter_geo, zipcodes, op = 'within')

In [ ]:
scooter_geo_by_zip

In [ ]:
zipcodes.plot()

In [ ]:
zipcodes.geometry.centroid

In [ ]:
center = zipcodes.geometry.centroid[24]
print(center)

In [ ]:
# reverse the order when constructing the array for folium location
area_center = [center.y, center.x]

# check the order of area_center, the location for our folium map
print(area_center)

In [ ]:
# creating a folium mpa of nasvhille centroid 24
folium_map = folium.Map(location =  area_center, zoom_start = 12)
folium_map

In [ ]:
marker_cluster = MarkerCluster()

# Iterating through the scooter_geo_by_zip DataFrame to add markers
for index, row in scooter_geo_by_zip.iterrows():
    lat = row['latitude']
    lon = row['longitude']
    companyname = row['companyname']
    date = row['date']

    # Creating a popup message with relevant information
    popup_message = f"Company: {companyname}<br>Date: {date}"

    # Creating a marker with the popup
    marker = folium.Marker(location=[lat, lon], popup=popup_message)
    marker.add_to(marker_cluster)

marker_cluster.add_to(folium_map)

folium_map