- EDA -------------------------------------------

In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import seaborn as sns 
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from shapely.geometry import Point

In [2]:
database_name = 'scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

- looking up company names  for each table and comparing

In [3]:
query = '''
SELECT companyname AS scooters_companynames
FROM scooters
GROUP BY companyname;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    scooters_companies = pd.read_sql(text(query), connection)

In [4]:
query = '''
SELECT companyname AS trips_companynames
FROM trips
GROUP BY companyname;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trips_companies = pd.read_sql(text(query), connection)

In [5]:
scooters_companies

  scooters_companynames
0                  Bird
1                  Bolt
2                Gotcha
3                  Jump
4                  Lime
5                  Lyft
6                  Spin

In [6]:
trips_companies

  trips_companynames
0               Bird
1      Bolt Mobility
2             Gotcha
3               JUMP
4               Lime
5               Lyft
6               SPIN

In [7]:
pd.merge(scooters_companies,trips_companies,  left_on = 'scooters_companynames', right_on = 'trips_companynames', how = 'outer')

  scooters_companynames trips_companynames
0                  Bird               Bird
1                  Bolt                NaN
2                Gotcha             Gotcha
3                  Jump                NaN
4                  Lime               Lime
5                  Lyft               Lyft
6                  Spin                NaN
7                   NaN      Bolt Mobility
8                   NaN               JUMP
9                   NaN               SPIN

--------------------------------------------------------------------------------------------------------------------------

- Exploring trip duration

In [8]:
query = '''
SELECT MIN(tripduration) AS min_tripduration, 
AVG(tripduration) AS avg_tripduration,
MAX(tripduration) AS max_tripduration 
FROM trips;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration = pd.read_sql(text(query), connection)

In [9]:
trip_duration

   min_tripduration  avg_tripduration  max_tripduration
0        -19.358267         69.770554          512619.0

In [10]:
query = '''
SELECT * 
FROM trips
WHERE (tripduration <0);
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration_negative = pd.read_sql(text(query), connection)

query = '''
SELECT * 
FROM trips
WHERE (tripduration >1440); 
'''
#start date = end date
#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration_positive = pd.read_sql(text(query), connection)

In [11]:
trip_duration_negative

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-06-21 21:44:53.863,Lyft,LFT1318,Powered220544,-8.003717,3484.25208,2019-06-21,21:32:09.170000,2019-06-21,21:24:08.946666,36.15561,-86.77505,36.15536,-86.77508,"[(36.15561, -86.77505), (36.15565, -86.77509),...",2019-06-22 08:31:51.090
1,2019-06-21 22:35:30.390,Lyft,LFT1435,Powered041891,-1.359867,3166.01060,2019-06-21,22:23:01.316666,2019-06-21,22:21:39.726666,36.16213,-86.77958,36.16020,-86.77283,"[(36.16213, -86.77958), (36.16206, -86.77953),...",2019-06-22 08:31:56.090
2,2019-07-18 23:56:13.233,Lyft,LFT864,Powered863342,-0.715917,2214.56700,2019-07-18,23:50:34.650000,2019-07-18,23:49:51.693333,36.15997,-86.77659,36.15690,-86.78102,"[(36.15997, -86.77659), (36.15994, -86.77653),...",2019-07-19 10:49:30.810
3,2019-07-19 00:01:24.063,Lyft,LFT2,Powered859498,-10.242417,52.49344,2019-07-18,23:59:35.683333,2019-07-18,23:49:21.136666,36.15163,-86.78418,36.15172,-86.78408,"[(36.15163, -86.78418), (36.15167, -86.78413),...",2019-07-20 10:52:39.020
4,2019-07-19 00:06:02.050,Lyft,LFT7,Powered895717,-0.501317,3799.21272,2019-07-18,23:49:45.476666,2019-07-18,23:49:15.396666,36.16305,-86.78455,36.15792,-86.78894,"[(36.16305, -86.78455), (36.16301, -86.78467),...",2019-07-20 10:52:39.223
5,2019-07-19 00:07:18.803,Lyft,LFT10,Powered767853,-4.618833,3061.02372,2019-07-18,23:53:53.926666,2019-07-18,23:49:16.796666,36.15155,-86.78407,36.15354,-86.77790,"[(36.15155, -86.78407), (36.15153, -86.78401),...",2019-07-20 10:52:39.343
6,2019-07-19 00:12:05.363,Lyft,LFT18,Powered863342,-10.975100,3641.73240,2019-07-19,00:00:24.016666,2019-07-18,23:49:25.513333,36.15694,-86.78104,36.16305,-86.77605,"[(36.15694, -86.78104), (36.1571, -86.78111), ...",2019-07-20 10:52:39.657
7,2019-07-19 00:14:02.297,Lyft,LFT21,Powered853770,-19.358267,4540.68256,2019-07-19,00:09:04.506666,2019-07-18,23:49:43.013333,36.15505,-86.78482,36.14690,-86.79355,"[(36.15505, -86.78482), (36.15511, -86.78482),...",2019-07-20 10:52:39.737

In [12]:
query = '''
SELECT * 
FROM trips
WHERE (tripduration >0);
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration_positive = pd.read_sql(text(query), connection)

In [13]:
trip_duration_positive

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-06-08 23:51:45.117,Lime,LIM5706,PoweredWERCHO3DSD2PP,16.983333,6886.39920,2019-06-08,23:34:15,2019-06-08,23:51:14,36.159215,-86.780849,36.152235,-86.795573,"[(36.15922, -86.78085), (36.1592, -86.78116), ...",2019-06-09 08:31:18.443
1,2019-06-08 23:51:45.117,Lime,LIM5705,PoweredQWNF6PDP3ATCN,50.583333,0.00000,2019-06-08,23:00:30,2019-06-08,23:51:05,36.145490,-86.787560,36.145519,-86.787579,"[(36.14549, -86.78756)]",2019-06-09 08:31:18.410
2,2019-06-08 23:53:35.000,Bolt Mobility,BOL00501,Powered-59c10a78-d10e-01c2-d488-d9c6fc6b8342,455.000000,3776.25000,2019-06-08,23:45:54,2019-06-08,23:53:29,36.151850,-86.763690,36.158268,-86.772752,[],2019-06-09 06:06:01.650
3,2019-06-08 23:53:56.523,Lyft,LFT2347,Powered629248,14.223817,2214.56700,2019-06-08,23:39:42.970000,2019-06-08,23:53:56.396666,36.159130,-86.780930,36.156800,-86.780980,"[(36.15913, -86.78093), (36.15904, -86.78081),...",2019-06-09 09:10:43.867
4,2019-06-08 23:54:02.563,SPIN,SPI1216,Powered2691190,30.000000,8418.63544,2019-06-08,23:22:56,2019-06-08,23:52:04,36.177941,-86.777388,36.181955,-86.749257,"[(36.1819361, -86.7492509), (36.1819361, -86.7...",2019-06-09 09:48:40.543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560885,2019-06-08 23:51:45.110,Lime,LIM5698,PoweredJTXV42MMK5N2K,29.866667,10124.54880,2019-06-08,23:20:20,2019-06-08,23:50:12,36.161474,-86.775082,36.141175,-86.769733,"[(36.16173, -86.77517), (36.161719999999995, -...",2019-06-09 08:31:18.187
560886,2019-06-08 23:51:45.110,Lime,LIM5695,Powered4EJEZQ3KHHGUT,29.066667,15846.26400,2019-06-08,23:20:00,2019-06-08,23:49:04,36.151552,-86.802122,36.152031,-86.803586,"[(36.15155, -86.80212), (36.15142, -86.80192),...",2019-06-09 08:31:18.090
560887,2019-06-08 23:51:45.113,Lime,LIM5700,PoweredNT77PJC6EGR5E,29.833333,10252.50000,2019-06-08,23:20:26,2019-06-08,23:50:16,36.161713,-86.775012,36.140715,-86.769546,"[(36.16178, -86.77529), (36.16176, -86.77511),...",2019-06-09 08:31:18.250
560888,2019-06-08 23:51:45.113,Lime,LIM5704,PoweredM7RMVITRQHJ3Z,125.183333,12112.71360,2019-06-08,21:45:53,2019-06-08,23:51:04,36.127093,-86.789170,36.144236,-86.786473,"[(36.1269, -86.78941), (36.12433, -86.78965000...",2019-06-09 08:31:18.380
560889,2019-06-08 23:51:45.113,Lime,LIM5702,PoweredBMGSNU4OTD4SK,46.450000,0.00000,2019-06-08,23:04:14,2019-06-08,23:50:41,36.145175,-86.787415,36.145620,-86.787543,"[(36.14518, -86.78742)]",2019-06-09 08:31:18.317

-many of the trip durations do not match up with the actual length of times when you compare the start and stop time of the trip.

----------------------------------------------------------------------------------

- to determine scooter utilization and desired desnity per area first we need to determine usage.

- we know that some ride times are negative so we can filter those out.
- we also know that some of the trip durations in the tripdurations column are incorect. So we need to calculate correct trip duration by using (trip endtime - trip start time)
- from here we can sum( trip durations) and group the trips table by sumdid and pubtimestamp with pubtimestampt that has been converted to a date only format.
- the results of this will show us how many minutes each scooter was used every day.

- from the results above we can do a few thigns. If we divide by 1440( minutes in a day) we can get the utilization rate of a scooter for day.
-this will tell us how much scooters are being used, which we can then compare by company, date, price, etc.
- we can also geolocate this data andfigure out which areas had a high utilization rate and which ones had a low utilization rate.
-for geolocation, because noscooter is going to have identical coorinates, if we drop the last number or last 2 numbers we can probably better group them.
- areas with a high ultization rate means there are not enough scooters, areas with low utilization rate means there are too many scooters
-some of the charts we can use to show utilization rates might be a histgram or box chart.


- another thing we can do is group the scooters table by sumdid and date and compare this to the resulsts we have already gotten to see if any scooters were not used at all

-code for scooter use in sql
WITH cte1 AS (SELECT pubtimestamp::date,
    		companyname,
    		sumdid, 
			startdate+starttime AS trip_start,
			enddate+endtime AS trip_end
			FROM TRIPS),
	cte2 as 
	 	(SELECT pubdatetime::date AS pubtimestamp, sumdid, companyname
			FROM scooters
			GROUP BY sumdid, companyname, pubtimestamp)
SELECT 
    pubtimestamp::date AS date,
    companyname,
    sumdid, 
	SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) AS total_min_per_day_used,
	ROUND((SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) / 1440.0 * 100)::numeric, 3) || '%' AS trip_use_per_day_percent
	--trip_start,
	--trip_end,
    --startdate
	--starttime,
	--enddate,
  	--endtime,
	--startlatitude,
    --startlongitude,
    --endlatitude,
    --endlongitude,
    --triproute,
FROM trips
FULL JOIN cte1 USING(pubtimestamp, companyname, sumdid)
FULL JOIN cte2 USING(pubtimestamp, sumdid, companyname)
GROUP BY sumdid, companyname, date

In [14]:
query = '''
WITH cte1 AS (SELECT pubtimestamp::date,
    		companyname,
    		sumdid, 
			startdate+starttime AS trip_start,
			enddate+endtime AS trip_end
			FROM TRIPS),
	cte2 as 
	 	(SELECT pubdatetime::date AS pubtimestamp, sumdid, companyname
			FROM (SELECT pubdatetime, sumdid, CASE WHEN companyname = 'Bolt' THEN 'Bolt Mobility'
		  WHEN companyname = 'Jump' THEN 'JUMP' WHEN companyname = 'Spin' THEN 'SPIN' ELSE companyname END AS companyname 
		  FROM scooters) AS scooters2 
			GROUP BY sumdid, companyname, pubtimestamp)
SELECT 
    pubtimestamp::date AS date,
    companyname,
    sumdid, 
	SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) AS total_min_per_day_used,
	ROUND((SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) / 1440.0 * 100)::numeric, 3) || '%' AS trip_use_per_day_percent
	--trip_start,
	--trip_end,
    --startdate
	--starttime,
	--enddate,
  	--endtime,
	--startlatitude,
    --startlongitude,
    --endlatitude,
    --endlongitude,
    --triproute,
FROM trips
FULL JOIN cte1 USING(pubtimestamp, companyname, sumdid)
FULL JOIN cte2 USING(pubtimestamp, sumdid, companyname)
GROUP BY sumdid, companyname, date;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    scooter_use = pd.read_sql(text(query), connection)

In [15]:
scooter_use

,date,companyname,sumdid,total_min_per_day_used,trip_use_per_day_percent
0,2019-05-24,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,30.83,2.141%
1,2019-05-25,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,56.35,3.913%
2,2019-05-26,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,107.87,7.491%
3,2019-05-27,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,147.86,10.268%
4,2019-05-28,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,None
...,...,...,...,...,...
414397,2019-07-28,Lime,StandardNW5HJFO4R32LY,NaN,None
414398,2019-07-29,Lime,StandardNW5HJFO4R32LY,NaN,None
414399,2019-07-30,Lime,StandardNW5HJFO4R32LY,NaN,None
414400,2019-07-31,Lime,StandardNW5HJFO4R32LY,NaN,None
414401,2019-06-13,Lime,StandardZPUQESHVPP74J,NaN,None

In [16]:
scooter_use_not_nan = scooter_use[scooter_use['total_min_per_day_used'].notna()]
scooter_use_not_nan

,date,companyname,sumdid,total_min_per_day_used,trip_use_per_day_percent
0,2019-05-24,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,30.83,2.141%
1,2019-05-25,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,56.35,3.913%
2,2019-05-26,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,107.87,7.491%
3,2019-05-27,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,147.86,10.268%
5,2019-05-29,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,12.68,0.881%
...,...,...,...,...,...
414300,2019-06-22,Lime,PoweredZZQOO54WD4AJT,9.76,0.678%
414301,2019-06-23,Lime,PoweredZZQOO54WD4AJT,39.65,2.753%
414302,2019-06-24,Lime,PoweredZZQOO54WD4AJT,104.92,7.286%
414303,2019-06-25,Lime,PoweredZZQOO54WD4AJT,33.92,2.356%
414306,2019-06-08,Lime,StandardLIRPOZ7X3ZVGO,5.13,0.356%

In [ ]:
plt.plot('date',

In [17]:
scooter_use_is_nan = scooter_use[scooter_use['total_min_per_day_used'].isna()]
scooter_use_is_nan

,date,companyname,sumdid,total_min_per_day_used,trip_use_per_day_percent
4,2019-05-28,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,None
8,2019-06-01,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,None
9,2019-06-02,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,None
10,2019-06-03,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,None
11,2019-06-04,Bolt Mobility,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,None
...,...,...,...,...,...
414397,2019-07-28,Lime,StandardNW5HJFO4R32LY,NaN,None
414398,2019-07-29,Lime,StandardNW5HJFO4R32LY,NaN,None
414399,2019-07-30,Lime,StandardNW5HJFO4R32LY,NaN,None
414400,2019-07-31,Lime,StandardNW5HJFO4R32LY,NaN,None
414401,2019-06-13,Lime,StandardZPUQESHVPP74J,NaN,None