In [ ]:
- to determine scooter utilization and desired desnity per area first we need to determine usage.

- we know that some ride times are negative so we can filter those out.
- we also know that some of the trip durations in the tripdurations column are incorect. So we need to calculate correct trip duration by using (trip endtime - trip start time)
- from here we can sum( trip durations) and group the trips table by sumdid and pubtimestamp with pubtimestampt that has been converted to a date only format.
- the results of this will show us how many minutes each scooter was used every day.

- from the results above we can do a few thigns. If we divide by 1440( minutes in a day) we can get the utilization rate of a scooter for day.
-this will tell us how much scooters are being used, which we can then compare by company, date, price, etc.
- we can also geolocate this data andfigure out which areas had a high utilization rate and which ones had a low utilization rate.
-for geolocation, because noscooter is going to have identical coorinates, if we drop the last number or last 2 numbers we can probably better group them.
- areas with a high ultization rate means there are not enough scooters, areas with low utilization rate means there are too many scooters
-some of the charts we can use to show utilization rates might be a histgram or box chart.


- another thing we can do is group the scooters table by sumdid and date and compare this to the resulsts we have already gotten to see if any scooters were not used at all

- EDA -------------------------------------------

In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from shapely.geometry import Point

In [2]:
database_name = 'scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

- looking up company names  for each table and comparing

In [3]:
query = '''
SELECT companyname AS scooters_companynames
FROM scooters
GROUP BY companyname;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    scooters_companies = pd.read_sql(text(query), connection)

In [4]:
query = '''
SELECT companyname AS trips_companynames
FROM trips
GROUP BY companyname;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trips_companies = pd.read_sql(text(query), connection)

In [5]:
scooters_companies

  scooters_companynames
0                  Bird
1                  Bolt
2                Gotcha
3                  Jump
4                  Lime
5                  Lyft
6                  Spin

In [6]:
trips_companies

  trips_companynames
0               Bird
1      Bolt Mobility
2             Gotcha
3               JUMP
4               Lime
5               Lyft
6               SPIN

In [7]:
pd.merge(scooters_companies,trips_companies,  left_on = 'scooters_companynames', right_on = 'trips_companynames', how = 'outer')

  scooters_companynames trips_companynames
0                  Bird               Bird
1                  Bolt                NaN
2                Gotcha             Gotcha
3                  Jump                NaN
4                  Lime               Lime
5                  Lyft               Lyft
6                  Spin                NaN
7                   NaN      Bolt Mobility
8                   NaN               JUMP
9                   NaN               SPIN

--------------------------------------------------------------------------------------------------------------------------

- Exploring trip duration

In [8]:
query = '''
SELECT MIN(tripduration) AS min_tripduration, 
AVG(tripduration) AS avg_tripduration,
MAX(tripduration) AS max_tripduration 
FROM trips;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration = pd.read_sql(text(query), connection)

In [9]:
trip_duration

   min_tripduration  avg_tripduration  max_tripduration
0        -19.358267         69.770554          512619.0

In [10]:
query = '''
SELECT * 
FROM trips
WHERE (tripduration <0);
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration_negative = pd.read_sql(text(query), connection)

query = '''
SELECT * 
FROM trips
WHERE (tripduration >1440); 
'''
#start date = end date
#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_duration_positive = pd.read_sql(text(query), connection)

In [12]:
trip_duration_negative

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-06-21 21:44:53.863,Lyft,LFT1318,Powered220544,-8.003717,3484.25208,2019-06-21,21:32:09.170000,2019-06-21,21:24:08.946666,36.15561,-86.77505,36.15536,-86.77508,"[(36.15561, -86.77505), (36.15565, -86.77509),...",2019-06-22 08:31:51.090
1,2019-06-21 22:35:30.390,Lyft,LFT1435,Powered041891,-1.359867,3166.01060,2019-06-21,22:23:01.316666,2019-06-21,22:21:39.726666,36.16213,-86.77958,36.16020,-86.77283,"[(36.16213, -86.77958), (36.16206, -86.77953),...",2019-06-22 08:31:56.090
2,2019-07-18 23:56:13.233,Lyft,LFT864,Powered863342,-0.715917,2214.56700,2019-07-18,23:50:34.650000,2019-07-18,23:49:51.693333,36.15997,-86.77659,36.15690,-86.78102,"[(36.15997, -86.77659), (36.15994, -86.77653),...",2019-07-19 10:49:30.810
3,2019-07-19 00:01:24.063,Lyft,LFT2,Powered859498,-10.242417,52.49344,2019-07-18,23:59:35.683333,2019-07-18,23:49:21.136666,36.15163,-86.78418,36.15172,-86.78408,"[(36.15163, -86.78418), (36.15167, -86.78413),...",2019-07-20 10:52:39.020
4,2019-07-19 00:06:02.050,Lyft,LFT7,Powered895717,-0.501317,3799.21272,2019-07-18,23:49:45.476666,2019-07-18,23:49:15.396666,36.16305,-86.78455,36.15792,-86.78894,"[(36.16305, -86.78455), (36.16301, -86.78467),...",2019-07-20 10:52:39.223
5,2019-07-19 00:07:18.803,Lyft,LFT10,Powered767853,-4.618833,3061.02372,2019-07-18,23:53:53.926666,2019-07-18,23:49:16.796666,36.15155,-86.78407,36.15354,-86.77790,"[(36.15155, -86.78407), (36.15153, -86.78401),...",2019-07-20 10:52:39.343
6,2019-07-19 00:12:05.363,Lyft,LFT18,Powered863342,-10.975100,3641.73240,2019-07-19,00:00:24.016666,2019-07-18,23:49:25.513333,36.15694,-86.78104,36.16305,-86.77605,"[(36.15694, -86.78104), (36.1571, -86.78111), ...",2019-07-20 10:52:39.657
7,2019-07-19 00:14:02.297,Lyft,LFT21,Powered853770,-19.358267,4540.68256,2019-07-19,00:09:04.506666,2019-07-18,23:49:43.013333,36.15505,-86.78482,36.14690,-86.79355,"[(36.15505, -86.78482), (36.15511, -86.78482),...",2019-07-20 10:52:39.737

In [13]:
trip_duration_positive

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-07-30 20:12:31,Bolt Mobility,BOL00042,Powered-08505f68-1f44-5d79-48c5-1370977e40d5,4294.0,22257.22,2019-07-30,18:56:22,2019-07-30,20:07:56,36.163116,-86.776192,36.155296,-86.790166,"[('36.163116', '-86.776192'), ('36.163088', '-...",2019-07-31 06:23:16.330
1,2019-07-30 20:27:31,Bolt Mobility,BOL00047,Powered-cb671986-ba9d-edd0-23cd-9a6427904931,1924.0,9268.37,2019-07-30,19:50:28,2019-07-30,20:22:32,36.149988,-86.814465,36.149962,-86.814468,"[('36.149988', '-86.814465'), ('36.149895', '-...",2019-07-31 06:23:16.483
2,2019-07-30 20:27:31,Bolt Mobility,BOL00045,Powered-55c83dac-fbe3-5cdd-9bce-615988c03525,2219.0,9803.15,2019-07-30,19:45:33,2019-07-30,20:22:32,36.149953,-86.814480,36.149959,-86.814488,"[('36.149953', '-86.814480'), ('36.149934', '-...",2019-07-31 06:23:16.427
3,2019-07-30 20:27:31,Bolt Mobility,BOL00046,Powered-27c0ee73-6b11-7013-b7b9-0664173dc436,2070.0,10321.52,2019-07-30,19:48:02,2019-07-30,20:22:32,36.149982,-86.814513,36.149959,-86.814486,"[('36.149982', '-86.814513'), ('36.149730', '-...",2019-07-31 06:23:16.457
4,2019-07-30 20:27:31,Bolt Mobility,BOL00044,Powered-ea3da6cc-2c88-644b-f3c8-0a42d5eb1c66,2384.0,10298.56,2019-07-30,19:42:48,2019-07-30,20:22:32,36.149942,-86.814501,36.149949,-86.814500,"[('36.149942', '-86.814501'), ('36.149934', '-...",2019-07-31 06:23:16.393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6933,2019-07-30 16:32:25,Bolt Mobility,BOL00020,Powered-ab66fc94-d5d7-9449-71a0-fedc1482706d,1818.0,16259.84,2019-07-30,15:59:31,2019-07-30,16:29:49,36.149940,-86.814538,36.149916,-86.814488,"[('36.149940', '-86.814538'), ('36.149939', '-...",2019-07-31 06:23:15.657
6934,2019-07-30 17:52:27,Bolt Mobility,BOL00029,Powered-f43cbe8c-3a9a-72d2-f9ea-b4177dcf94bf,2221.0,14527.56,2019-07-30,17:13:54,2019-07-30,17:50:55,36.159954,-86.776589,36.159941,-86.776602,"[('36.159954', '-86.776589'), ('36.159953', '-...",2019-07-31 06:23:15.917
6935,2019-07-30 17:52:27,Bolt Mobility,BOL00030,Powered-721c80e9-24d6-a148-b662-b1e48885d627,2296.0,14560.37,2019-07-30,17:12:50,2019-07-30,17:51:06,36.159971,-86.776565,36.159949,-86.776613,"[('36.159971', '-86.776565'), ('36.159971', '-...",2019-07-31 06:23:15.950
6936,2019-07-30 18:07:27,Bolt Mobility,BOL00031,Powered-e11dc28a-0e2b-3a75-7f85-d522d0e72848,1824.0,8490.81,2019-07-30,17:35:13,2019-07-30,18:05:37,36.149999,-86.814480,36.149507,-86.813813,"[('36.149999', '-86.814480'), ('36.149800', '-...",2019-07-31 06:23:15.983
6937,2019-07-30 18:37:29,Bolt Mobility,BOL00036,Powered-3756b3aa-e53a-3cda-4cba-987c90130f42,1515.0,8067.59,2019-07-30,18:07:58,2019-07-30,18:33:13,36.149975,-86.814452,36.151031,-86.815733,"[('36.149975', '-86.814452'), ('36.149984', '-...",2019-07-31 06:23:16.140

-many of the trip durations do not match up with the actual length of times when you compare the start and stop time of the trip.

----------------------------------------------------------------------------------

- is time format in am/pm or 24 hour?

In [14]:
query = '''
SELECT *
FROM trips
LIMIT 100;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    trip_time = pd.read_sql(text(query), connection)

In [15]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

#with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    scooters_time = pd.read_sql(text(query), connection)

In [16]:
trip_time

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-07-30 20:12:31.000,Bolt Mobility,BOL00042,Powered-08505f68-1f44-5d79-48c5-1370977e40d5,4294.000000,22257.22000,2019-07-30,18:56:22,2019-07-30,20:07:56,36.163116,-86.776192,36.155296,-86.790166,"[('36.163116', '-86.776192'), ('36.163088', '-...",2019-07-31 06:23:16.330
1,2019-07-30 20:13:23.690,SPIN,SPI177,Powered4053444,4.000000,1742.12604,2019-07-30,20:07:04,2019-07-30,20:10:40,36.162820,-86.768868,36.160255,-86.773862,"[(36.16, -86.7748), (36.16025544240713, -86.77...",2019-07-31 11:38:12.813
2,2019-07-30 20:13:44.890,Lyft,LFT489,Powered783585,17.232267,18215.22368,2019-07-30,19:56:30.840000,2019-07-30,20:13:44.776666,36.162450,-86.777860,36.128470,-86.745340,"[(36.16245, -86.77786), (36.16233, -86.77788),...",2019-07-31 10:35:38.323
3,2019-07-30 20:13:58.567,Lyft,LFT490,Powered853770,7.596700,3746.71928,2019-07-30,20:06:22.613333,2019-07-30,20:13:58.413333,36.151240,-86.814780,36.147900,-86.814340,"[(36.15124, -86.81478), (36.15121, -86.81471),...",2019-07-31 10:35:38.357
4,2019-07-30 20:14:08.427,Bird,BRD1228,PoweredER1ZW,7.000000,4921.26000,2019-07-30,20:08:40.510000,2019-07-30,20:15:37.810000,36.153700,-86.784100,36.157100,-86.776100,"[(36.153656, -86.784178), (36.153572, -86.7839...",2019-07-31 05:31:09.890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-07-30 20:44:09.473,Bird,BRD1329,PoweredMKQXK,3.000000,0.00000,2019-07-30,20:41:15.283333,2019-07-30,20:44:29.253333,36.148000,-86.805900,36.148200,-86.802200,"[(36.148053, -86.805839), (36.148171, -86.8056...",2019-07-31 05:31:11.823
96,2019-07-30 20:44:09.473,Bird,BRD1326,PoweredMBMD8,0.000000,0.00000,2019-07-30,20:44:40.440000,2019-07-30,20:44:54.223333,36.161000,-86.777200,36.160900,-86.777100,"[(36.160913, -86.777071)]",2019-07-31 05:31:11.727
97,2019-07-30 20:44:09.473,Bird,BRD1331,PoweredCYS9A,7.000000,0.00000,2019-07-30,20:37:57.450000,2019-07-30,20:44:46.873333,36.160800,-86.777300,36.154600,-86.786100,"[(36.160848, -86.777128), (36.160902, -86.7770...",2019-07-31 05:31:11.887
98,2019-07-30 20:44:11.250,Lyft,LFT512,Powered233573,32.099783,18054.46252,2019-07-30,20:12:05.140000,2019-07-30,20:44:11.126666,36.151920,-86.781190,36.159390,-86.773630,"[(36.15192, -86.78119), (36.15192, -86.78068),...",2019-07-31 10:35:39.457
99,2019-07-30 20:44:43.913,Lyft,LFT513,Powered408609,23.424283,6017.06056,2019-07-30,20:21:18.373333,2019-07-30,20:44:43.830000,36.161820,-86.775020,36.159760,-86.774760,"[(36.16182, -86.77502), (36.16188, -86.77506),...",2019-07-31 10:35:39.490

In [17]:
scooters_time

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-21 16:35:58.757,36.177833,-86.751357,PoweredJ2MWF,Powered,100.0,scooter,0.0,Bird
1,2019-05-21 16:35:58.757,36.168804,-86.780808,PoweredHHISN,Powered,26.0,scooter,0.0,Bird
2,2019-05-21 16:35:58.757,36.158523,-86.775189,Powered434LT,Powered,100.0,scooter,0.0,Bird
3,2019-05-21 16:35:58.757,36.163877,-86.769123,PoweredYWY76,Powered,100.0,scooter,0.0,Bird
4,2019-05-21 16:35:58.757,36.157859,-86.779084,PoweredVL7YG,Powered,58.0,scooter,0.0,Bird
...,...,...,...,...,...,...,...,...,...
95,2019-05-21 16:35:58.757,36.158150,-86.777133,Powered6XF82,Powered,100.0,scooter,0.0,Bird
96,2019-05-21 16:35:58.757,36.150118,-86.797040,Powered9M3SH,Powered,95.0,scooter,0.0,Bird
97,2019-05-21 16:35:58.757,36.146194,-86.799468,Powered4KX7D,Powered,100.0,scooter,0.0,Bird
98,2019-05-21 16:35:58.757,36.157295,-86.774198,Powered1Z12U,Powered,100.0,scooter,0.0,Bird
99,2019-05-21 16:35:58.757,36.162457,-86.776335,Powered34XUP,Powered,62.0,scooter,0.0,Bird

- Both tables use a 24 hour time system that includes date and time