In [1]:
import pandas as pd
import geopandas as gpd
import folium
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from sqlalchemy import create_engine, text
import numpy as np
import re

In [2]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5050/{database_name}"

engine = create_engine(connection_string)

query = '''
SELECT *
FROM scooters
LIMIT 10000;
'''

with engine.connect() as connection:    
    scooters = pd.read_sql(text(query), con = connection)
    
scooters

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-05 05:21:01.207,36.152811,-86.783871,Powered1882,Powered,77.0,Scooter,0.15,Gotcha
1,2019-06-05 05:21:01.207,36.160452,-86.781646,Powered803,Powered,52.0,Scooter,0.15,Gotcha
2,2019-06-05 05:21:01.207,36.152102,-86.762997,Powered785,Powered,88.0,Scooter,0.15,Gotcha
3,2019-06-05 05:21:01.207,36.148095,-86.815792,Powered592,Powered,90.0,Scooter,0.15,Gotcha
4,2019-06-05 05:21:01.207,36.121796,-86.790363,Powered511,Powered,95.0,Scooter,0.15,Gotcha
...,...,...,...,...,...,...,...,...,...
9995,2019-06-05 05:39:02.457,36.138007,-86.810744,PoweredVJTHK,Powered,100.0,scooter,0.15,Bird
9996,2019-06-05 05:39:02.457,36.152746,-86.773334,PoweredCT8ZL,Powered,66.0,scooter,0.15,Bird
9997,2019-06-05 05:39:02.457,36.152154,-86.842070,PoweredK7AED,Powered,89.0,scooter,0.15,Bird
9998,2019-06-05 05:39:02.457,36.159861,-86.774945,PoweredNKM2G,Powered,97.0,scooter,0.15,Bird
9999,2019-06-05 05:39:02.457,36.161883,-86.782660,PoweredYE6RS,Powered,80.0,scooter,0.15,Bird

In [3]:
query = '''
SELECT *
FROM scooters
WHERE sumdtype = 'Standard'
LIMIT 10000;
'''

with engine.connect() as connection:    
    standard = pd.read_sql(text(query), con = connection)
    
standard

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-05 05:37:15.833,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.05,Lime
1,2019-06-05 05:42:15.843,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.05,Lime
2,2019-06-05 05:47:16.230,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.05,Lime
3,2019-06-05 05:52:16.490,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.05,Lime
4,2019-06-05 05:57:16.527,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.05,Lime
...,...,...,...,...,...,...,...,...,...
9995,2019-07-09 18:07:27.247,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.05,Lime
9996,2019-07-09 18:12:27.480,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.05,Lime
9997,2019-07-09 18:17:27.780,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.05,Lime
9998,2019-07-09 18:22:28.100,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.05,Lime
9999,2019-07-09 19:22:29.763,36.150966,-86.852773,StandardNW5HJFO4R32LY,Standard,100.0,bicycle,0.05,Lime

In [4]:
query = '''
SELECT *
FROM trips
'''

with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)
    
trips

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.157100,-86.803600,36.156600,-86.806700,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.715600,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.157970,-86.778960,36.160540,-86.776890,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.000000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.154700,-86.781800,36.156500,-86.786800,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.000000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.149400,-86.779500,36.153100,-86.779600,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.000000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.177800,-86.786600,36.177400,-86.787600,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565517,2019-08-01 04:53:48.000,JUMP,JMP3,Powered5614e4fc-1971-5e5c-a545-0fd88cd3331d,17.497950,7075.20000,2019-07-31,23:47:43,2019-08-01,00:05:13,36.154633,-86.798340,36.149220,-86.813980,"[('36.154631', '-86.798341'), ('36.154631', '-...",2019-08-02 08:21:27.127
565518,2019-08-01 04:53:48.000,JUMP,JMP2,Powereda4712099-5e55-5332-996c-d6e5c910535d,3.154917,1320.00000,2019-07-31,23:57:19,2019-08-01,00:00:28,36.153015,-86.783585,36.152843,-86.779594,"[('36.153016', '-86.783586'), ('36.153016', '-...",2019-08-02 08:21:26.773
565519,2019-08-01 04:53:48.000,JUMP,JMP1,Poweredb8a3a269-d1ca-571f-9b2f-89b7399b5537,18.440650,7920.00000,2019-07-31,23:41:52,2019-08-01,00:00:18,36.153687,-86.784580,36.164158,-86.776900,"[('36.153685', '-86.784578'), ('36.153685', '-...",2019-08-02 08:21:26.803
565520,2019-08-01 07:04:00.000,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.345610,20433.60000,2019-07-31,23:26:15,2019-08-01,01:48:35,36.155735,-86.775185,36.173904,-86.785450,"[('36.155736', '-86.775181'), ('36.155531', '-...",2019-08-02 08:24:21.967
565521,2019-08-01 07:04:00.000,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.409650,14889.60000,2019-07-31,22:19:08,2019-08-01,01:48:33,36.160050,-86.776720,36.163410,-86.782100,"[('36.160051', '-86.77672'), ('36.160051', '-8...",2019-08-02 08:24:22.000

In [ ]:
trips['pubtimestamp'] = pd.to_datetime(trips['pubtimestamp'])
trips

In [5]:
trips.loc[trips.pubtimestamp != '2019-05-27 00:40:22.117']

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.157100,-86.803600,36.156600,-86.806700,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.715600,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.157970,-86.778960,36.160540,-86.776890,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.000000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.154700,-86.781800,36.156500,-86.786800,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.000000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.149400,-86.779500,36.153100,-86.779600,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.000000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.177800,-86.786600,36.177400,-86.787600,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565517,2019-08-01 04:53:48.000,JUMP,JMP3,Powered5614e4fc-1971-5e5c-a545-0fd88cd3331d,17.497950,7075.20000,2019-07-31,23:47:43,2019-08-01,00:05:13,36.154633,-86.798340,36.149220,-86.813980,"[('36.154631', '-86.798341'), ('36.154631', '-...",2019-08-02 08:21:27.127
565518,2019-08-01 04:53:48.000,JUMP,JMP2,Powereda4712099-5e55-5332-996c-d6e5c910535d,3.154917,1320.00000,2019-07-31,23:57:19,2019-08-01,00:00:28,36.153015,-86.783585,36.152843,-86.779594,"[('36.153016', '-86.783586'), ('36.153016', '-...",2019-08-02 08:21:26.773
565519,2019-08-01 04:53:48.000,JUMP,JMP1,Poweredb8a3a269-d1ca-571f-9b2f-89b7399b5537,18.440650,7920.00000,2019-07-31,23:41:52,2019-08-01,00:00:18,36.153687,-86.784580,36.164158,-86.776900,"[('36.153685', '-86.784578'), ('36.153685', '-...",2019-08-02 08:21:26.803
565520,2019-08-01 07:04:00.000,JUMP,JMP35,Poweredf077a919-d569-5e70-8ca7-71d179ffacf9,142.345610,20433.60000,2019-07-31,23:26:15,2019-08-01,01:48:35,36.155735,-86.775185,36.173904,-86.785450,"[('36.155736', '-86.775181'), ('36.155531', '-...",2019-08-02 08:24:21.967
565521,2019-08-01 07:04:00.000,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.409650,14889.60000,2019-07-31,22:19:08,2019-08-01,01:48:33,36.160050,-86.776720,36.163410,-86.782100,"[('36.160051', '-86.77672'), ('36.160051', '-8...",2019-08-02 08:24:22.000

In [6]:
trips.sort_values('enddate', ascending = True)

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.157100,-86.803600,36.156600,-86.806700,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
3148,2019-05-02 00:18:00.900,Lime,LIM759,PoweredH4GQZH2O546WG,6.583333,331.62240,2019-05-01,12:38:28,2019-05-01,12:45:03,36.156636,-86.780614,36.163894,-86.782141,"[(36.15656, -86.78096), (36.1566, -86.78102), ...",2019-05-03 06:43:53.797
3147,2019-05-02 00:18:00.900,Lime,LIM758,PoweredYPV5BYWBUHVIE,2.433333,123.74880,2019-05-01,12:37:49,2019-05-01,12:40:15,36.145489,-86.802669,36.145086,-86.806317,"[(36.14534, -86.80247), (36.14544, -86.80254),...",2019-05-03 06:43:53.767
3145,2019-05-02 00:18:00.900,Lime,LIM757,PoweredKCCKN6QABOY4U,28.916667,896.72160,2019-05-01,12:37:47,2019-05-01,13:06:42,36.136509,-86.760924,36.158448,-86.776588,"[(36.13658, -86.76088), (36.13635, -86.76108),...",2019-05-03 06:43:53.737
3144,2019-05-02 00:18:00.897,Lime,LIM752,Powered5NUMEP42WX32F,5.366667,316.99200,2019-05-01,12:36:38,2019-05-01,12:42:00,36.164630,-86.779519,36.168237,-86.770233,"[(36.16477, -86.78029), (36.165789999999994, -...",2019-05-03 06:43:53.583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565466,2019-08-01 00:07:26.357,Lyft,LFT18,Powered403152,15.605033,6122.04744,2019-07-31,23:51:49.963333,2019-08-01,00:07:26.263333,36.136600,-86.801120,36.137920,-86.805170,"[(36.1366, -86.80112), (36.13665, -86.80117), ...",2019-08-02 10:27:50.827
565465,2019-08-01 00:07:13.973,Lyft,LFT16,Powered029745,38.272283,14517.71700,2019-07-31,23:28:57.516666,2019-08-01,00:07:13.853333,36.163950,-86.769440,36.163880,-86.769490,"[(36.16395, -86.76944), (36.16374, -86.76944),...",2019-08-02 10:27:50.763
565464,2019-08-01 00:05:06.727,Bird,BRD1830,PoweredV152F,48.000000,29855.64400,2019-07-31,23:18:49.366666,2019-08-01,00:06:43.453333,36.163700,-86.775500,36.163700,-86.770000,"[(36.16378, -86.775306), (36.16378, -86.775306...",2019-08-02 05:30:21.500
565471,2019-08-01 00:08:35.973,Lyft,LFT23,Powered312916,11.811950,8973.09740,2019-07-31,23:56:47.163333,2019-08-01,00:08:35.880000,36.152820,-86.804790,36.162030,-86.779490,"[(36.15282, -86.80479), (36.15284, -86.80468),...",2019-08-02 10:27:50.987
565521,2019-08-01 07:04:00.000,JUMP,JMP34,Powered784fcc92-bd1a-5f6a-8314-b02aa21b4bfa,209.409650,14889.60000,2019-07-31,22:19:08,2019-08-01,01:48:33,36.160050,-86.776720,36.163410,-86.782100,"[('36.160051', '-86.77672'), ('36.160051', '-8...",2019-08-02 08:24:22.000

In [9]:
trips.groupby('sumdid').agg(mean = ('tripduration', np.mean), 
                            median = ('tripduration', np.median), 
                            min = ('tripduration', np.min), 
                            max = ('tripduration', np.max))

C:\Users\jclug\AppData\Local\Temp\ipykernel_23576\4173449876.py:1: FutureWarning: The provided callable <function mean at 0x000001FCB7CB2D40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  trips.groupby('sumdid').agg(mean = ('tripduration', np.mean),
C:\Users\jclug\AppData\Local\Temp\ipykernel_23576\4173449876.py:1: FutureWarning: The provided callable <function median at 0x000001FCB7DDDFC0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  trips.groupby('sumdid').agg(mean = ('tripduration', np.mean),
C:\Users\jclug\AppData\Local\Temp\ipykernel_23576\4173449876.py:1: FutureWarning: The provided callable <function min at 0x000001FCB7CB2560> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  trips.groupby('sumdid').agg(mean = ('tripduration', np.mean),
C:\Users\jclug\AppData\Local\Temp\ipykernel_23576\4173449876.py:1: FutureWarning: The provided callable <function max at 0x000001FCB7CB2440> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  trips.groupby('sumdid').agg(mean = ('tripduration', np.mean),

,mean,median,min,max
sumdid,,,,
Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,1414.489130,1078.500000,51.000000,6480.000000
Powered-01a24436-0315-e1bb-7ce0-d081d05dff7d,1507.614035,884.000000,105.000000,9253.000000
Powered-03be23ca-d43b-222f-be54-e44b5b4690df,1056.185185,811.000000,59.000000,4545.000000
Powered-046201fb-6532-1f37-6334-3612fb1e61f7,1246.281690,941.000000,77.000000,6279.000000
Powered-0479bb84-afbd-0426-f1c4-df628542a88c,1205.385417,772.500000,37.000000,6235.000000
...,...,...,...,...
Poweredff356f94-2252-5432-b484-ad9679bf4b8d,24.875062,18.954782,10.583150,49.197000
Poweredff4b01f3-1f3f-5d6b-b1c5-5d6628ffa629,263.762217,44.694000,10.985000,1396.884500
Poweredff8a28ab-0ffb-59ce-9b1e-2d1299a25634,15.506315,14.353833,2.409950,45.802200
Poweredffcc1b11-af95-5e06-b002-82ffb342aae8,58.323647,12.065534,2.119717,294.730400
StandardLIRPOZ7X3ZVGO,5.133333,5.133333,5.133333,5.133333

# Min and Max Lat/Long

In [13]:
query = '''
SELECT MIN(startlatitude)  AS min_start_lat, MAX(startlatitude)  AS max_start_lat,
       MIN(startlongitude) AS min_start_lng, MAX(startlongitude) AS max_start_lng,
       MIN(endlatitude)    AS min_end_lat,   MAX(endlatitude)    AS max_end_lat,
       MIN(endlongitude)   AS min_end_lng,   MAX(endlongitude)   AS max_end_lng
FROM trips
'''

with engine.connect() as connection:    
    trips_min_max = pd.read_sql(text(query), con = connection)
    
trips_min_max

,min_start_lat,max_start_lat,min_start_lng,max_start_lng,min_end_lat,max_end_lat,min_end_lng,max_end_lng
0,35.8532,36.300029,-86.918008,-86.3662,-36.850405,51.045409,-122.673729,174.764886

In [14]:
query = '''
SELECT MIN(latitude)  AS min_lat,  MAX(latitude)  AS max_lat,
	   MIN(longitude) AS min_long, MAX(longitude) AS max_long
FROM scooters
'''

with engine.connect() as connection:    
    scooters_min_max = pd.read_sql(text(query), con = connection)
    
scooters_min_max

   min_lat       max_lat   min_long  max_long
0      0.0  3.609874e+06 -97.443879       0.0

### A lot of these extreme values don't make sense. From the trips table, the min and max latitude are way different from the coordinates of Nashville. The same goes for the min and max longitude.

### The scooters table doesn't do a lot better. The closest min or max comes tnashville is in the form of 0. I wonder if there was a bug with one of the scooters that returned the coordinates (0,0) since there isn't even a decimal afterwards. The craziest one, however, is the max latitude from the scooters table at over 3 million. I have no idea how this would have occurred, but it is pretty silly to think about.

# Comapany Names in Both Tables

In [16]:
query = '''
SELECT DISTINCT companyname
FROM scooters
'''
with engine.connect() as connection:    
    scooters_company = pd.read_sql(text(query), con = connection)
    
scooters_company

  companyname
0        Bird
1        Bolt
2      Gotcha
3        Jump
4        Lime
5        Lyft
6        Spin

In [17]:
query = '''
SELECT DISTINCT companyname
FROM trips
'''
with engine.connect() as connection:    
    scooters_trips = pd.read_sql(text(query), con = connection)
    
scooters_trips

     companyname
0           Bird
1  Bolt Mobility
2         Gotcha
3           JUMP
4           Lime
5           Lyft
6           SPIN

### Both tables refer to the same companies, but Bolt is called Bolt Mobility in the trips table, and Jump and Spin are both full caps in the trips table.