In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5050/{database_name}"

engine = create_engine(connection_string)

In [3]:
query = '''
WITH trip_min AS (
	SELECT *,
	       CASE WHEN companyname = 'Bolt Mobility' THEN ROUND(tripduration/60,2)
	   		    ELSE tripduration END AS trip_in_min
	FROM trips
	ORDER BY tripduration DESC)

SELECT *, 
	   (trip_in_min - trip_in_min%1)::INT AS rounded_tripduration,
	   --(1440 * (enddate - startdate)) AS day_diff, 
	   --EXTRACT(epoch FROM (endtime - starttime))/60 AS min,
	   --(EXTRACT(epoch FROM (endtime - starttime))/60)%1 AS round_off,
	   ((1440 * (enddate - startdate)) + (EXTRACT(epoch FROM (endtime - starttime))/60) - (EXTRACT(epoch FROM (endtime - starttime))/60)%1)::INT AS calc_diff
FROM trip_min
'''

with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

trips

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt,trip_in_min,rounded_tripduration,calc_diff
0,2019-07-16 21:26:59.000,Bolt Mobility,BOL00198,Powered-2763482f-d784-4797-7cf9-59346940451d,512619.000000,95505.25000,2019-07-10,23:01:13,2019-07-16,21:24:52,36.154280,-86.787008,36.149143,-86.788575,"[('36.154280', '-86.787008'), ('36.154212', '-...",2019-07-17 06:23:59.217,8543.650000,8543,8544
1,2019-07-14 22:05:24.000,Bolt Mobility,BOL00284,Powered-878271f6-e755-d7e6-72e2-761c4d08c487,257790.000000,54662.08000,2019-07-11,22:25:02,2019-07-14,22:01:32,36.152072,-86.803823,36.161730,-86.774043,[],2019-07-15 06:23:35.623,4296.500000,4296,4297
2,2019-07-10 01:05:36.000,Bolt Mobility,BOL00008,Powered-27c0ee73-6b11-7013-b7b9-0664173dc436,93837.000000,83402.23000,2019-07-08,22:59:45,2019-07-10,01:03:42,36.145472,-86.811302,36.146329,-86.813257,[],2019-07-11 06:21:38.050,1563.950000,1563,1564
3,2019-07-13 04:13:31.000,Bolt Mobility,BOL00146,Powered-f63b8989-6b47-bda7-522a-5b4feea22493,92977.000000,22398.29000,2019-07-12,02:21:03,2019-07-13,04:10:40,36.164367,-86.769286,36.176582,-86.808390,[],2019-07-14 06:23:28.003,1549.620000,1549,1549
4,2019-07-12 16:28:06.000,Bolt Mobility,BOL00151,Powered-90545f58-0043-4bfc-8a79-cf15e49f6f72,78802.000000,59632.55000,2019-07-11,18:33:53,2019-07-12,16:27:15,36.164945,-86.780144,36.175640,-86.757861,[],2019-07-13 06:22:59.467,1313.370000,1313,1314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565517,2019-07-19 00:07:18.803,Lyft,LFT10,Powered767853,-4.618833,3061.02372,2019-07-18,23:53:53.926666,2019-07-18,23:49:16.796666,36.151550,-86.784070,36.153540,-86.777900,"[(36.15155, -86.78407), (36.15153, -86.78401),...",2019-07-20 10:52:39.343,-4.618833,-4,-4
565518,2019-06-21 21:44:53.863,Lyft,LFT1318,Powered220544,-8.003717,3484.25208,2019-06-21,21:32:09.170000,2019-06-21,21:24:08.946666,36.155610,-86.775050,36.155360,-86.775080,"[(36.15561, -86.77505), (36.15565, -86.77509),...",2019-06-22 08:31:51.090,-8.003717,-8,-8
565519,2019-07-19 00:01:24.063,Lyft,LFT2,Powered859498,-10.242417,52.49344,2019-07-18,23:59:35.683333,2019-07-18,23:49:21.136666,36.151630,-86.784180,36.151720,-86.784080,"[(36.15163, -86.78418), (36.15167, -86.78413),...",2019-07-20 10:52:39.020,-10.242417,-10,-10
565520,2019-07-19 00:12:05.363,Lyft,LFT18,Powered863342,-10.975100,3641.73240,2019-07-19,00:00:24.016666,2019-07-18,23:49:25.513333,36.156940,-86.781040,36.163050,-86.776050,"[(36.15694, -86.78104), (36.1571, -86.78111), ...",2019-07-20 10:52:39.657,-10.975100,-10,-11
565521,2019-07-19 00:14:02.297,Lyft,LFT21,Powered853770,-19.358267,4540.68256,2019-07-19,00:09:04.506666,2019-07-18,23:49:43.013333,36.155050,-86.784820,36.146900,-86.793550,"[(36.15505, -86.78482), (36.15511, -86.78482),...",2019-07-20 10:52:39.737,-19.358267,-19,-20

In [5]:
trips.to_csv('../data/trips.csv')