In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from shapely.geometry import Point

In [2]:
database_name = 'nashville_scooters'    # Fill this in with your database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

In [3]:
query = '''
SELECT *
FROM trips
WHERE companyname = 'Bird'
'''

with engine.connect() as connection:    
    bird_trips = pd.read_sql(text(query), con = connection)

bird_trips

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.1571,-86.8036,36.1566,-86.8067,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.0,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.1547,-86.7818,36.1565,-86.7868,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
2,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.0,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.1494,-86.7795,36.1531,-86.7796,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
3,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.0,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.1778,-86.7866,36.1774,-86.7876,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207
4,2019-05-01 00:05:55.570,Bird,BRD2167,PoweredEJF1K,3.0,984.25200,2019-05-01,00:03:56.546666,2019-05-01,00:06:45.786666,36.1544,-86.7862,36.1515,-86.7844,"[(36.154368, -86.785909), (36.151689, -86.7843...",2019-05-02 05:30:24.317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152740,2019-08-01 00:00:06.593,Bird,BRD1817,PoweredQDRMQ,8.0,328.08400,2019-07-31,23:53:41.416666,2019-08-01,00:01:58.773333,36.1523,-86.7839,36.1458,-86.7804,"[(36.152383, -86.783852), (36.152464, -86.7836...",2019-08-02 05:30:21.260
152741,2019-08-01 00:00:06.593,Bird,BRD1815,Powered3IFAH,3.0,984.25200,2019-07-31,23:58:09.780000,2019-08-01,00:00:55.853333,36.1572,-86.7706,36.1560,-86.7739,"[(36.157364, -86.770644), (36.157206, -86.7708...",2019-08-02 05:30:21.197
152742,2019-08-01 00:05:06.727,Bird,BRD1831,PoweredQST3S,54.0,29527.56000,2019-07-31,23:12:14.106666,2019-08-01,00:06:44.106666,36.1638,-86.7754,36.1617,-86.7754,"[(36.163812, -86.775398), (36.16383, -86.77525...",2019-08-02 05:30:21.530
152743,2019-08-01 00:05:06.727,Bird,BRD1829,PoweredSEWAF,48.0,30839.89600,2019-07-31,23:18:58.526666,2019-08-01,00:06:38.356666,36.1638,-86.7755,36.1620,-86.7743,"[(36.163877, -86.775442), (36.1638, -86.775503...",2019-08-02 05:30:21.467
152744,2019-08-01 00:05:06.727,Bird,BRD1830,PoweredV152F,48.0,29855.64400,2019-07-31,23:18:49.366666,2019-08-01,00:06:43.453333,36.1637,-86.7755,36.1637,-86.7700,"[(36.16378, -86.775306), (36.16378, -86.775306...",2019-08-02 05:30:21.500

In [4]:
query = '''
SELECT *
FROM scooters
WHERE companyname = 'Bird'
'''

with engine.connect() as connection:    
    bird_scooters_and_trips = pd.read_sql(text(query), con = connection)

bird_scooters_and_trips

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-17 16:15:11.120,36.158145,-86.769128,PoweredIFR8I,Powered,98.0,scooter,0.15,Bird
1,2019-06-17 16:15:11.120,36.154778,-86.784658,PoweredL475L,Powered,72.0,scooter,0.15,Bird
2,2019-06-17 16:15:11.120,36.151829,-86.784368,PoweredGY8HI,Powered,42.0,scooter,0.15,Bird
3,2019-06-17 16:15:11.120,36.144448,-86.813540,PoweredHGA7P,Powered,100.0,scooter,0.15,Bird
4,2019-06-17 16:15:11.120,36.159502,-86.772969,PoweredNK1LJ,Powered,100.0,scooter,0.15,Bird
...,...,...,...,...,...,...,...,...,...
12251585,2019-06-17 16:10:10.997,36.146789,-86.802852,PoweredSXDH3,Powered,71.0,scooter,0.15,Bird
12251586,2019-06-17 16:10:10.997,36.156235,-86.775928,Powered67YCM,Powered,94.0,scooter,0.15,Bird
12251587,2019-06-17 16:10:10.997,36.159851,-86.772605,PoweredB3VSV,Powered,100.0,scooter,0.15,Bird
12251588,2019-06-17 16:10:10.997,36.146884,-86.808218,PoweredD9I5T,Powered,96.0,scooter,0.15,Bird
12251589,2019-06-17 16:10:10.997,36.164869,-86.780223,PoweredCF57R,Powered,73.0,scooter,0.15,Bird

In [5]:
bird_scooters['month'] = bird_scooters['pubdatetime'].dt.month

NameError: name 'bird_scooters' is not defined

In [ ]:
bird_scooters.head(3)

In [ ]:
bird_scooters_may = bird_scooters.loc[bird_scooters['month'] == 5]

In [ ]:
bird_scooters_may

In [ ]:
bird_scooters_june = bird_scooters.loc[bird_scooters['month'] == 6]
bird_scooters_july = bird_scooters.loc[bird_scooters['month'] == 7]

In [ ]:
bird_scooters_august = bird_scooters.loc[bird_scooters['month'] == 8]

In [ ]:
type(bird_scooters_may)

In [ ]:
bird_scooters_may.info()

In [ ]:
bird_scooters_may = bird_scooters.loc[bird_scooters['month'] == 5]

In [ ]:
bird_scooters_may['geometry'] = bird_scooters_may.apply(lambda x: Point((float(x.longitude),
                                                             float(x.latitude))),
                                            axis = 1)
bird_scooters_may.head(3)

In [ ]:
zipcodes = gpd.read_file('../../../data/zipcodes.geojson')
print(zipcodes.crs)
zipcodes.head()

In [ ]:
zipcodes.plot()

In [ ]:
bird_scooters_may['time'] = bird_scooters_may['pubdatetime'].dt.time

In [ ]:
bird_scooters_may.head()

In [ ]:
bird_scooters_may.info

In [ ]:
bird_scooters_may_geo = gpd.GeoDataFrame(bird_scooters_may,
                                         crs = zipcodes.crs,
                                         geometry = bird_scooters_may['geometry'])

In [ ]:
type(bird_scooters_may_geo)

In [ ]:
bird_scooters_may_geo.plot()

In [ ]:
bird_scooters_june['geometry'] = bird_scooters_june.apply(lambda x: Point((float(x.longitude),
                                                             float(x.latitude))),
                                            axis = 1)

In [ ]:
bird_scooters_june_geo = gpd.GeoDataFrame(bird_scooters_june,
                                         crs = zipcodes.crs,
                                         geometry = bird_scooters_june['geometry'])

In [ ]:
bird_scooters_june_geo.plot()

In [ ]:
bird_scooters_july['geometry'] = bird_scooters_july.apply(lambda x: Point((float(x.longitude),
                                                             float(x.latitude))),
                                            axis = 1)

In [ ]:
bird_scooters_july_geo = gpd.GeoDataFrame(bird_scooters_july,
                                         crs = zipcodes.crs,
                                         geometry = bird_scooters_july['geometry'])

In [ ]:
bird_scooters_july_geo.plot()

In [ ]:
ax = zipcodes.plot(figsize = (8, 10),
                   color = 'lightgreen',
                  edgecolor = 'darkgreen')
bird_scooters_july_geo.plot(ax = ax,
                            alpha = 0);
plt.show()