In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from shapely.geometry import Point

In [2]:
database_name = 'nashville_scooters'    # Fill this in with your database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

In [3]:
query = '''

WITH cte1 AS (SELECT pubtimestamp::date,
    		companyname,
    		sumdid, 
			startdate+starttime AS trip_start,
			enddate+endtime AS trip_end
			FROM TRIPS),
	cte2 as 
	 	(SELECT pubdatetime::date AS pubtimestamp, 
		 		sumdid, 
		 		costpermin,
		 		companyname
			FROM (SELECT pubdatetime, 
				  		 sumdid, 
				  		 costpermin,
				  	CASE WHEN companyname = 'Bolt' THEN 'Bolt Mobility'
		 				 WHEN companyname = 'Jump' THEN 'JUMP' 
				  		 WHEN companyname = 'Spin' THEN 'SPIN' ELSE companyname END AS companyname 
				  --this subbquery is so we can join on company name bellow
		  			FROM scooters) AS scooters2 
			GROUP BY sumdid, companyname, pubtimestamp, costpermin)
SELECT 
    pubtimestamp::date AS date,
    companyname,
	costpermin,
    sumdid, 
	tripduration,
	SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) AS total_min_per_day_used,
	ROUND((SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) / 1440.0 * 100)::numeric, 3) || '%' AS trip_use_per_day_percent
FROM trips
FULL JOIN cte1 USING(pubtimestamp, companyname, sumdid)
FULL JOIN cte2 USING(pubtimestamp, sumdid, companyname)
GROUP BY sumdid, companyname, date, costpermin, tripduration
HAVING SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) <= 1440
;
'''

with engine.connect() as connection:    
    trips_main = pd.read_sql(text(query), con = connection)

trips_main

,date,companyname,costpermin,sumdid,tripduration,total_min_per_day_used,trip_use_per_day_percent
0,2019-05-24,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,30.83,2.141%
1,2019-05-25,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,56.35,3.913%
2,2019-05-26,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,107.87,7.491%
3,2019-05-27,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,147.86,10.268%
4,2019-05-29,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,12.68,0.881%
...,...,...,...,...,...,...,...
203166,2019-06-22,Lime,0.15,PoweredZZQOO54WD4AJT,None,9.76,0.678%
203167,2019-06-23,Lime,0.15,PoweredZZQOO54WD4AJT,None,39.65,2.753%
203168,2019-06-24,Lime,0.15,PoweredZZQOO54WD4AJT,None,104.92,7.286%
203169,2019-06-25,Lime,0.15,PoweredZZQOO54WD4AJT,None,33.92,2.356%
203170,2019-06-08,Lime,NaN,StandardLIRPOZ7X3ZVGO,None,5.13,0.356%

In [4]:
trips_duration = trips_main.loc[trips_main['costpermin'] > 0]

In [5]:
trips_duration

,date,companyname,costpermin,sumdid,tripduration,total_min_per_day_used,trip_use_per_day_percent
0,2019-05-24,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,30.83,2.141%
1,2019-05-25,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,56.35,3.913%
2,2019-05-26,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,107.87,7.491%
3,2019-05-27,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,147.86,10.268%
4,2019-05-29,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,12.68,0.881%
...,...,...,...,...,...,...,...
203165,2019-06-21,Lime,0.15,PoweredZZQOO54WD4AJT,None,5.45,0.378%
203166,2019-06-22,Lime,0.15,PoweredZZQOO54WD4AJT,None,9.76,0.678%
203167,2019-06-23,Lime,0.15,PoweredZZQOO54WD4AJT,None,39.65,2.753%
203168,2019-06-24,Lime,0.15,PoweredZZQOO54WD4AJT,None,104.92,7.286%
203169,2019-06-25,Lime,0.15,PoweredZZQOO54WD4AJT,None,33.92,2.356%

In [6]:
trips_duration2 = trips_duration.loc[trips_duration['total_min_per_day_used'] >= 0]
trips_duration2

,date,companyname,costpermin,sumdid,tripduration,total_min_per_day_used,trip_use_per_day_percent
0,2019-05-24,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,30.83,2.141%
1,2019-05-25,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,56.35,3.913%
2,2019-05-26,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,107.87,7.491%
3,2019-05-27,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,147.86,10.268%
4,2019-05-29,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,None,12.68,0.881%
...,...,...,...,...,...,...,...
203165,2019-06-21,Lime,0.15,PoweredZZQOO54WD4AJT,None,5.45,0.378%
203166,2019-06-22,Lime,0.15,PoweredZZQOO54WD4AJT,None,9.76,0.678%
203167,2019-06-23,Lime,0.15,PoweredZZQOO54WD4AJT,None,39.65,2.753%
203168,2019-06-24,Lime,0.15,PoweredZZQOO54WD4AJT,None,104.92,7.286%
203169,2019-06-25,Lime,0.15,PoweredZZQOO54WD4AJT,None,33.92,2.356%

In [7]:
tripscost = trips_duration2.drop(['tripduration'], axis = 1)

In [8]:
tripscost

,date,companyname,costpermin,sumdid,total_min_per_day_used,trip_use_per_day_percent
0,2019-05-24,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,30.83,2.141%
1,2019-05-25,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,56.35,3.913%
2,2019-05-26,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,107.87,7.491%
3,2019-05-27,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,147.86,10.268%
4,2019-05-29,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,12.68,0.881%
...,...,...,...,...,...,...
203165,2019-06-21,Lime,0.15,PoweredZZQOO54WD4AJT,5.45,0.378%
203166,2019-06-22,Lime,0.15,PoweredZZQOO54WD4AJT,9.76,0.678%
203167,2019-06-23,Lime,0.15,PoweredZZQOO54WD4AJT,39.65,2.753%
203168,2019-06-24,Lime,0.15,PoweredZZQOO54WD4AJT,104.92,7.286%
203169,2019-06-25,Lime,0.15,PoweredZZQOO54WD4AJT,33.92,2.356%

In [9]:
tripscost.info()

<class 'pandas.core.frame.DataFrame'>
Index: 156990 entries, 0 to 203169
Data columns (total 6 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   date                      156990 non-null  object
 1   companyname               156990 non-null  object
 2   costpermin                156990 non-null  float64
 3   sumdid                    156990 non-null  object
 4   total_min_per_day_used    156990 non-null  float64
 5   trip_use_per_day_percent  156990 non-null  object
dtypes: float64(2), object(4)
memory usage: 8.4+ MB

In [10]:
pd.to_datetime(tripscost['date'])

0        2019-05-24
1        2019-05-25
2        2019-05-26
3        2019-05-27
4        2019-05-29
            ...
203165   2019-06-21
203166   2019-06-22
203167   2019-06-23
203168   2019-06-24
203169   2019-06-25
Name: date, Length: 156990, dtype: datetime64[ns]

In [11]:
tripscost['date'] = pd.to_datetime(tripscost['date'])

In [12]:
tripscost.dtypes

date                        datetime64[ns]
companyname                         object
costpermin                         float64
sumdid                              object
total_min_per_day_used             float64
trip_use_per_day_percent            object
dtype: object

In [13]:
tripscost['month'] = tripscost['date'].dt.month
tripscost.head()

,date,companyname,costpermin,sumdid,total_min_per_day_used,trip_use_per_day_percent,month
0,2019-05-24,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,30.83,2.141%,5
1,2019-05-25,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,56.35,3.913%,5
2,2019-05-26,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,107.87,7.491%,5
3,2019-05-27,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,147.86,10.268%,5
4,2019-05-29,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,12.68,0.881%,5

In [14]:
tripscost_may = tripscost.loc[tripscost.month == 5]
tripscost_june = tripscost.loc[tripscost.month == 6]
tripscost_july = tripscost.loc[tripscost.month == 7]

In [15]:
(tripscost_may
 .groupby(pd.Grouper(key = 'date',
                     freq = '1d',
                     origin = 'epoch'
                    ))
 ['total_min_per_day_used']
 .sum()
 )

date
2019-05-22     75821.77
2019-05-23     86273.07
2019-05-24    135270.03
2019-05-25    250033.07
2019-05-26    265309.99
2019-05-27    176369.11
2019-05-28     94071.85
2019-05-29     64612.64
2019-05-30     78041.11
2019-05-31    175091.27
Freq: D, Name: total_min_per_day_used, dtype: float64

I think what I want to do is see the total or avg of total min per day used for each company

In [16]:
tripscost_may_test = tripscost_may.drop(['sumdid', 'trip_use_per_day_percent', 'month'], axis = 1)
tripscost_may_test

             date    companyname  costpermin  total_min_per_day_used
0      2019-05-24  Bolt Mobility        0.15                   30.83
1      2019-05-25  Bolt Mobility        0.15                   56.35
2      2019-05-26  Bolt Mobility        0.15                  107.87
3      2019-05-27  Bolt Mobility        0.15                  147.86
4      2019-05-29  Bolt Mobility        0.15                   12.68
...           ...            ...         ...                     ...
203100 2019-05-27           Lime        0.15                  134.68
203101 2019-05-29           Lime        0.15                   21.83
203147 2019-05-24           Lime        0.15                  298.30
203148 2019-05-25           Lime        0.15                   62.79
203149 2019-05-26           Lime        0.15                   21.92

[28180 rows x 4 columns]

In [17]:
tripscost_may_test = (tripscost_may_test
 .groupby(['companyname', 'date', 'costpermin'])
 ['total_min_per_day_used']
 .mean()
 .reset_index())

In [18]:
tripscost_may_test

      companyname       date  costpermin  total_min_per_day_used
0            Bird 2019-05-22        0.15               18.546317
1            Bird 2019-05-23        0.15               19.404013
2            Bird 2019-05-24        0.15               23.099946
3            Bird 2019-05-25        0.15               36.943902
4            Bird 2019-05-26        0.15               41.083891
5            Bird 2019-05-27        0.15               34.978963
6            Bird 2019-05-28        0.15               23.779754
7            Bird 2019-05-29        0.15               16.968056
8            Bird 2019-05-30        0.15               19.444918
9            Bird 2019-05-31        0.15               27.061816
10  Bolt Mobility 2019-05-24        0.15               45.203014
11  Bolt Mobility 2019-05-25        0.15               66.018479
12  Bolt Mobility 2019-05-26        0.15               84.477660
13  Bolt Mobility 2019-05-27        0.15               67.406356
14  Bolt Mobility 2019-05-28        0.15               54.976016
15  Bolt Mobility 2019-05-29        0.15               42.512787
16  Bolt Mobility 2019-05-30        0.15               38.017943
17  Bolt Mobility 2019-05-31        0.15               48.581143
18         Gotcha 2019-05-22        0.15               22.562500
19         Gotcha 2019-05-23        0.15               21.565217
20         Gotcha 2019-05-24        0.15               22.770741
21         Gotcha 2019-05-25        0.15               22.900000
22         Gotcha 2019-05-26        0.15               58.138571
23         Gotcha 2019-05-27        0.15               15.000000
24         Gotcha 2019-05-28        0.15               30.671875
25         Gotcha 2019-05-29        0.15               20.657000
26         Gotcha 2019-05-30        0.15               38.684211
27         Gotcha 2019-05-31        0.15               23.210600
28           Lime 2019-05-22        0.15               61.256761
29           Lime 2019-05-23        0.15               56.928813
30           Lime 2019-05-24        0.15               72.440307
31           Lime 2019-05-25        0.15              111.406287
32           Lime 2019-05-26        0.15              102.461737
33           Lime 2019-05-27        0.15               68.012713
34           Lime 2019-05-28        0.15               52.820965
35           Lime 2019-05-29        0.15               38.152251
36           Lime 2019-05-30        0.15               55.427274
37           Lime 2019-05-31        0.15               71.047112
38           Lime 2019-05-31        0.23               71.706716
39           Lyft 2019-05-22        0.15               35.349262
40           Lyft 2019-05-23        0.15               38.883380
41           Lyft 2019-05-24        0.15               50.126191
42           Lyft 2019-05-25        0.15               69.946334
43           Lyft 2019-05-26        0.15               77.024672
44           Lyft 2019-05-27        0.15               64.291368
45           Lyft 2019-05-28        0.15               46.672586
46           Lyft 2019-05-29        0.15               32.188602
47           Lyft 2019-05-30        0.15               33.529514
48           Lyft 2019-05-31        0.15               38.351297
49           SPIN 2019-05-22        0.23               39.253303
50           SPIN 2019-05-23        0.23               37.518193
51           SPIN 2019-05-24        0.23               36.193502
52           SPIN 2019-05-25        0.23               62.465224
53           SPIN 2019-05-26        0.23               57.933589
54           SPIN 2019-05-27        0.23               54.409679
55           SPIN 2019-05-28        0.23               34.316737
56           SPIN 2019-05-29        0.23               41.623418
57           SPIN 2019-05-30        0.23               27.631772
58           SPIN 2019-05-31        0.23               39.514424

In [19]:
#tripscost_may_test['avg_cost_per_day'] = tripscost_may_test[['costpermin'] * ['total_min_per_day_used']]
tripscost_may_test.dtypes

companyname                       object
date                      datetime64[ns]
costpermin                       float64
total_min_per_day_used           float64
dtype: object

In [20]:
tripscost_may_test['avg_cost_per_day'] = ' '

for index, row in tripscost_may_test.iterrows():
    tripscost_may_test.loc[index, 'avg_cost_per_day'] = (tripscost_may_test.loc[index, 'costpermin'] * tripscost_may_test.loc[index, 'total_min_per_day_used'])

tripscost_may_test

,companyname,date,costpermin,total_min_per_day_used,avg_cost_per_day
0,Bird,2019-05-22,0.15,18.546317,2.781947
1,Bird,2019-05-23,0.15,19.404013,2.910602
2,Bird,2019-05-24,0.15,23.099946,3.464992
3,Bird,2019-05-25,0.15,36.943902,5.541585
4,Bird,2019-05-26,0.15,41.083891,6.162584
5,Bird,2019-05-27,0.15,34.978963,5.246844
6,Bird,2019-05-28,0.15,23.779754,3.566963
7,Bird,2019-05-29,0.15,16.968056,2.545208
8,Bird,2019-05-30,0.15,19.444918,2.916738
9,Bird,2019-05-31,0.15,27.061816,4.059272
10,Bolt Mobility,2019-05-24,0.15,45.203014,6.780452
11,Bolt Mobility,2019-05-25,0.15,66.018479,9.902772
12,Bolt Mobility,2019-05-26,0.15,84.477660,12.671649
13,Bolt Mobility,2019-05-27,0.15,67.406356,10.110953
14,Bolt Mobility,2019-05-28,0.15,54.976016,8.246402
15,Bolt Mobility,2019-05-29,0.15,42.512787,6.376918
16,Bolt Mobility,2019-05-30,0.15,38.017943,5.702691
17,Bolt Mobility,2019-05-31,0.15,48.581143,7.287171
18,Gotcha,2019-05-22,0.15,22.562500,3.384375
19,Gotcha,2019-05-23,0.15,21.565217,3.234783
20,Gotcha,2019-05-24,0.15,22.770741,3.415611
21,Gotcha,2019-05-25,0.15,22.900000,3.435
22,Gotcha,2019-05-26,0.15,58.138571,8.720786
23,Gotcha,2019-05-27,0.15,15.000000,2.25
24,Gotcha,2019-05-28,0.15,30.671875,4.600781
25,Gotcha,2019-05-29,0.15,20.657000,3.09855
26,Gotcha,2019-05-30,0.15,38.684211,5.802632
27,Gotcha,2019-05-31,0.15,23.210600,3.48159
28,Lime,2019-05-22,0.15,61.256761,9.188514
29,Lime,2019-05-23,0.15,56.928813,8.539322
30,Lime,2019-05-24,0.15,72.440307,10.866046
31,Lime,2019-05-25,0.15,111.406287,16.710943
32,Lime,2019-05-26,0.15,102.461737,15.369261
33,Lime,2019-05-27,0.15,68.012713,10.201907
34,Lime,2019-05-28,0.15,52.820965,7.923145
35,Lime,2019-05-29,0.15,38.152251,5.722838
36,Lime,2019-05-30,0.15,55.427274,8.314091
37,Lime,2019-05-31,0.15,71.047112,10.657067
38,Lime,2019-05-31,0.23,71.706716,16.492545
39,Lyft,2019-05-22,0.15,35.349262,5.302389
40,Lyft,2019-05-23,0.15,38.883380,5.832507
41,Lyft,2019-05-24,0.15,50.126191,7.518929
42,Lyft,2019-05-25,0.15,69.946334,10.49195
43,Lyft,2019-05-26,0.15,77.024672,11.553701
44,Lyft,2019-05-27,0.15,64.291368,9.643705
45,Lyft,2019-05-28,0.15,46.672586,7.000888
46,Lyft,2019-05-29,0.15,32.188602,4.82829
47,Lyft,2019-05-30,0.15,33.529514,5.029427
48,Lyft,2019-05-31,0.15,38.351297,5.752695
49,SPIN,2019-05-22,0.23,39.253303,9.02826
50,SPIN,2019-05-23,0.23,37.518193,8.629184
51,SPIN,2019-05-24,0.23,36.193502,8.324505
52,SPIN,2019-05-25,0.23,62.465224,14.367002
53,SPIN,2019-05-26,0.23,57.933589,13.324725
54,SPIN,2019-05-27,0.23,54.409679,12.514226
55,SPIN,2019-05-28,0.23,34.316737,7.892849
56,SPIN,2019-05-29,0.23,41.623418,9.573386
57,SPIN,2019-05-30,0.23,27.631772,6.355308
58,SPIN,2019-05-31,0.23,39.514424,9.088317

In [21]:
tripscost_may_test = tripscost_may_test.rename(columns = {'total_min_per_day_used' : 'avg_min_per_day_used'})

In [22]:
tripscost_may_test

,companyname,date,costpermin,avg_min_per_day_used,avg_cost_per_day
0,Bird,2019-05-22,0.15,18.546317,2.781947
1,Bird,2019-05-23,0.15,19.404013,2.910602
2,Bird,2019-05-24,0.15,23.099946,3.464992
3,Bird,2019-05-25,0.15,36.943902,5.541585
4,Bird,2019-05-26,0.15,41.083891,6.162584
5,Bird,2019-05-27,0.15,34.978963,5.246844
6,Bird,2019-05-28,0.15,23.779754,3.566963
7,Bird,2019-05-29,0.15,16.968056,2.545208
8,Bird,2019-05-30,0.15,19.444918,2.916738
9,Bird,2019-05-31,0.15,27.061816,4.059272
10,Bolt Mobility,2019-05-24,0.15,45.203014,6.780452
11,Bolt Mobility,2019-05-25,0.15,66.018479,9.902772
12,Bolt Mobility,2019-05-26,0.15,84.477660,12.671649
13,Bolt Mobility,2019-05-27,0.15,67.406356,10.110953
14,Bolt Mobility,2019-05-28,0.15,54.976016,8.246402
15,Bolt Mobility,2019-05-29,0.15,42.512787,6.376918
16,Bolt Mobility,2019-05-30,0.15,38.017943,5.702691
17,Bolt Mobility,2019-05-31,0.15,48.581143,7.287171
18,Gotcha,2019-05-22,0.15,22.562500,3.384375
19,Gotcha,2019-05-23,0.15,21.565217,3.234783
20,Gotcha,2019-05-24,0.15,22.770741,3.415611
21,Gotcha,2019-05-25,0.15,22.900000,3.435
22,Gotcha,2019-05-26,0.15,58.138571,8.720786
23,Gotcha,2019-05-27,0.15,15.000000,2.25
24,Gotcha,2019-05-28,0.15,30.671875,4.600781
25,Gotcha,2019-05-29,0.15,20.657000,3.09855
26,Gotcha,2019-05-30,0.15,38.684211,5.802632
27,Gotcha,2019-05-31,0.15,23.210600,3.48159
28,Lime,2019-05-22,0.15,61.256761,9.188514
29,Lime,2019-05-23,0.15,56.928813,8.539322
30,Lime,2019-05-24,0.15,72.440307,10.866046
31,Lime,2019-05-25,0.15,111.406287,16.710943
32,Lime,2019-05-26,0.15,102.461737,15.369261
33,Lime,2019-05-27,0.15,68.012713,10.201907
34,Lime,2019-05-28,0.15,52.820965,7.923145
35,Lime,2019-05-29,0.15,38.152251,5.722838
36,Lime,2019-05-30,0.15,55.427274,8.314091
37,Lime,2019-05-31,0.15,71.047112,10.657067
38,Lime,2019-05-31,0.23,71.706716,16.492545
39,Lyft,2019-05-22,0.15,35.349262,5.302389
40,Lyft,2019-05-23,0.15,38.883380,5.832507
41,Lyft,2019-05-24,0.15,50.126191,7.518929
42,Lyft,2019-05-25,0.15,69.946334,10.49195
43,Lyft,2019-05-26,0.15,77.024672,11.553701
44,Lyft,2019-05-27,0.15,64.291368,9.643705
45,Lyft,2019-05-28,0.15,46.672586,7.000888
46,Lyft,2019-05-29,0.15,32.188602,4.82829
47,Lyft,2019-05-30,0.15,33.529514,5.029427
48,Lyft,2019-05-31,0.15,38.351297,5.752695
49,SPIN,2019-05-22,0.23,39.253303,9.02826
50,SPIN,2019-05-23,0.23,37.518193,8.629184
51,SPIN,2019-05-24,0.23,36.193502,8.324505
52,SPIN,2019-05-25,0.23,62.465224,14.367002
53,SPIN,2019-05-26,0.23,57.933589,13.324725
54,SPIN,2019-05-27,0.23,54.409679,12.514226
55,SPIN,2019-05-28,0.23,34.316737,7.892849
56,SPIN,2019-05-29,0.23,41.623418,9.573386
57,SPIN,2019-05-30,0.23,27.631772,6.355308
58,SPIN,2019-05-31,0.23,39.514424,9.088317

OKAY PIVOT MY GOAL NOW is to see EACH company and the AVERAGE MIN PER DAY FOR AN ENTIRE MONTH and the AVG COST PER DAY for entire month
so like

COMPANY NAME | MONTH | AVG_MIN | AVG_COST

In [23]:
tripscost

,date,companyname,costpermin,sumdid,total_min_per_day_used,trip_use_per_day_percent,month
0,2019-05-24,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,30.83,2.141%,5
1,2019-05-25,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,56.35,3.913%,5
2,2019-05-26,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,107.87,7.491%,5
3,2019-05-27,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,147.86,10.268%,5
4,2019-05-29,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,12.68,0.881%,5
...,...,...,...,...,...,...,...
203165,2019-06-21,Lime,0.15,PoweredZZQOO54WD4AJT,5.45,0.378%,6
203166,2019-06-22,Lime,0.15,PoweredZZQOO54WD4AJT,9.76,0.678%,6
203167,2019-06-23,Lime,0.15,PoweredZZQOO54WD4AJT,39.65,2.753%,6
203168,2019-06-24,Lime,0.15,PoweredZZQOO54WD4AJT,104.92,7.286%,6
203169,2019-06-25,Lime,0.15,PoweredZZQOO54WD4AJT,33.92,2.356%,6

In [24]:
tripscost = tripscost.drop(['sumdid', 'trip_use_per_day_percent'], axis=1)

In [25]:
tripscost = tripscost.drop(['date'], axis = 1)

In [26]:
tripscost

          companyname  costpermin  total_min_per_day_used  month
0       Bolt Mobility        0.15                   30.83      5
1       Bolt Mobility        0.15                   56.35      5
2       Bolt Mobility        0.15                  107.87      5
3       Bolt Mobility        0.15                  147.86      5
4       Bolt Mobility        0.15                   12.68      5
...               ...         ...                     ...    ...
203165           Lime        0.15                    5.45      6
203166           Lime        0.15                    9.76      6
203167           Lime        0.15                   39.65      6
203168           Lime        0.15                  104.92      6
203169           Lime        0.15                   33.92      6

[156990 rows x 4 columns]

In [27]:
tripscost_grouped_month = (tripscost
     .groupby(['companyname', 'month', 'costpermin'])
     ['total_min_per_day_used']
 .mean()
 .reset_index())

In [28]:
tripscost_grouped_month

      companyname  month  costpermin  total_min_per_day_used
0            Bird      5        0.15               28.409285
1            Bird      6        0.15               26.299958
2            Bird      7        0.15               26.269308
3   Bolt Mobility      5        0.15               57.929364
4   Bolt Mobility      6        0.15               49.085471
5   Bolt Mobility      7        0.15               56.703584
6   Bolt Mobility      7        0.30               46.922201
7          Gotcha      5        0.15               28.572544
8          Gotcha      6        0.15               25.398019
9          Gotcha      7        0.15               22.336741
10           JUMP      6        0.06               86.136942
11           JUMP      7        0.06               38.283709
12           Lime      5        0.15               72.309193
13           Lime      5        0.23               71.706716
14           Lime      6        0.15               60.169650
15           Lime      6        0.23               89.146395
16           Lime      7        0.15               56.344016
17           Lime      7        0.23               89.050000
18           Lyft      5        0.15               49.623518
19           Lyft      6        0.15               46.489904
20           Lyft      7        0.15               44.234602
21           SPIN      5        0.23               46.794097
22           SPIN      6        0.23               45.736897
23           SPIN      7        0.23               41.967393

In [29]:
tripscost_grouped_month['avg_cost_per_day'] = ' '

for index, row in tripscost_grouped_month.iterrows():
    tripscost_grouped_month.loc[index, 'avg_cost_per_day'] = (tripscost_grouped_month.loc[index, 'costpermin'] * tripscost_grouped_month.loc[index, 'total_min_per_day_used'])

tripscost_grouped_month

      companyname  month  costpermin  total_min_per_day_used avg_cost_per_day
0            Bird      5        0.15               28.409285         4.261393
1            Bird      6        0.15               26.299958         3.944994
2            Bird      7        0.15               26.269308         3.940396
3   Bolt Mobility      5        0.15               57.929364         8.689405
4   Bolt Mobility      6        0.15               49.085471         7.362821
5   Bolt Mobility      7        0.15               56.703584         8.505538
6   Bolt Mobility      7        0.30               46.922201         14.07666
7          Gotcha      5        0.15               28.572544         4.285882
8          Gotcha      6        0.15               25.398019         3.809703
9          Gotcha      7        0.15               22.336741         3.350511
10           JUMP      6        0.06               86.136942         5.168217
11           JUMP      7        0.06               38.283709         2.297023
12           Lime      5        0.15               72.309193        10.846379
13           Lime      5        0.23               71.706716        16.492545
14           Lime      6        0.15               60.169650         9.025448
15           Lime      6        0.23               89.146395        20.503671
16           Lime      7        0.15               56.344016         8.451602
17           Lime      7        0.23               89.050000          20.4815
18           Lyft      5        0.15               49.623518         7.443528
19           Lyft      6        0.15               46.489904         6.973486
20           Lyft      7        0.15               44.234602          6.63519
21           SPIN      5        0.23               46.794097        10.762642
22           SPIN      6        0.23               45.736897        10.519486
23           SPIN      7        0.23               41.967393           9.6525

In [30]:
tripscost_grouped_month = tripscost_grouped_month.rename(columns = {'total_min_per_day_used':'avg_min_per_day_used'})

In [31]:
tripscost_grouped_month

      companyname  month  costpermin  avg_min_per_day_used avg_cost_per_day
0            Bird      5        0.15             28.409285         4.261393
1            Bird      6        0.15             26.299958         3.944994
2            Bird      7        0.15             26.269308         3.940396
3   Bolt Mobility      5        0.15             57.929364         8.689405
4   Bolt Mobility      6        0.15             49.085471         7.362821
5   Bolt Mobility      7        0.15             56.703584         8.505538
6   Bolt Mobility      7        0.30             46.922201         14.07666
7          Gotcha      5        0.15             28.572544         4.285882
8          Gotcha      6        0.15             25.398019         3.809703
9          Gotcha      7        0.15             22.336741         3.350511
10           JUMP      6        0.06             86.136942         5.168217
11           JUMP      7        0.06             38.283709         2.297023
12           Lime      5        0.15             72.309193        10.846379
13           Lime      5        0.23             71.706716        16.492545
14           Lime      6        0.15             60.169650         9.025448
15           Lime      6        0.23             89.146395        20.503671
16           Lime      7        0.15             56.344016         8.451602
17           Lime      7        0.23             89.050000          20.4815
18           Lyft      5        0.15             49.623518         7.443528
19           Lyft      6        0.15             46.489904         6.973486
20           Lyft      7        0.15             44.234602          6.63519
21           SPIN      5        0.23             46.794097        10.762642
22           SPIN      6        0.23             45.736897        10.519486
23           SPIN      7        0.23             41.967393           9.6525

In [ ]:
# what i'm thinking about above -- perhaps i can display this in tableau as a