In [2]:
from sqlalchemy import create_engine, text
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from shapely.geometry import Point

In [3]:
database_name = 'nashville_scooters'    # Fill this in with your database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

In [4]:
query = '''

WITH cte1 AS (SELECT pubtimestamp::date,
    		companyname,
    		sumdid, 
			startdate+starttime AS trip_start,
			enddate+endtime AS trip_end
			FROM TRIPS),
	cte2 as 
	 	(SELECT pubdatetime::date AS pubtimestamp, 
		 		sumdid, 
		 		costpermin,
		 		companyname
			FROM (SELECT pubdatetime, 
				  		 sumdid, 
				  		 costpermin,
				  	CASE WHEN companyname = 'Bolt' THEN 'Bolt Mobility'
		 				 WHEN companyname = 'Jump' THEN 'JUMP' 
				  		 WHEN companyname = 'Spin' THEN 'SPIN' ELSE companyname END AS companyname 
				  --this subbquery is so we can join on company name bellow
		  			FROM scooters) AS scooters2 
			GROUP BY sumdid, companyname, pubtimestamp, costpermin)
SELECT 
    pubtimestamp::date AS date,
    companyname,
	costpermin,
    sumdid, 
	tripduration,
	SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) AS total_min_per_day_used,
	ROUND((SUM(ROUND(EXTRACT(EPOCH FROM (trip_end - trip_start)) / 60.0, 2)) / 1440.0 * 100)::numeric, 3) || '%' AS trip_use_per_day_percent

FROM trips
FULL JOIN cte1 USING(pubtimestamp, companyname, sumdid)
FULL JOIN cte2 USING(pubtimestamp, sumdid, companyname)
GROUP BY sumdid, companyname, date, costpermin, tripduration;
'''

with engine.connect() as connection:    
    trips_main = pd.read_sql(text(query), con = connection)

trips_main

,date,companyname,costpermin,sumdid,tripduration,total_min_per_day_used,trip_use_per_day_percent
0,2019-05-24,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,30.83,2.141%
1,2019-05-24,Bolt Mobility,NaN,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,1850.0,NaN,None
2,2019-05-25,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,56.35,3.913%
3,2019-05-25,Bolt Mobility,NaN,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,986.0,NaN,None
4,2019-05-25,Bolt Mobility,NaN,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,2395.0,NaN,None
...,...,...,...,...,...,...,...
933481,2019-07-28,Lime,0.05,StandardNW5HJFO4R32LY,NaN,NaN,None
933482,2019-07-29,Lime,0.05,StandardNW5HJFO4R32LY,NaN,NaN,None
933483,2019-07-30,Lime,0.05,StandardNW5HJFO4R32LY,NaN,NaN,None
933484,2019-07-31,Lime,0.05,StandardNW5HJFO4R32LY,NaN,NaN,None
933485,2019-06-13,Lime,0.15,StandardZPUQESHVPP74J,NaN,NaN,None

In [11]:
trips_duration = trips_main.loc[trips_main['costpermin'] > 0]

In [12]:
trips_duration

,date,companyname,costpermin,sumdid,tripduration,total_min_per_day_used,trip_use_per_day_percent
0,2019-05-24,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,30.83,2.141%
2,2019-05-25,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,56.35,3.913%
5,2019-05-26,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,107.87,7.491%
12,2019-05-27,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,147.86,10.268%
18,2019-05-28,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,NaN,None
...,...,...,...,...,...,...,...
933481,2019-07-28,Lime,0.05,StandardNW5HJFO4R32LY,NaN,NaN,None
933482,2019-07-29,Lime,0.05,StandardNW5HJFO4R32LY,NaN,NaN,None
933483,2019-07-30,Lime,0.05,StandardNW5HJFO4R32LY,NaN,NaN,None
933484,2019-07-31,Lime,0.05,StandardNW5HJFO4R32LY,NaN,NaN,None
933485,2019-06-13,Lime,0.15,StandardZPUQESHVPP74J,NaN,NaN,None

In [17]:
trips_duration2 = trips_duration.loc[trips_duration['total_min_per_day_used'] >= 0]
trips_duration2

,date,companyname,costpermin,sumdid,tripduration,total_min_per_day_used,trip_use_per_day_percent
0,2019-05-24,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,30.83,2.141%
2,2019-05-25,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,56.35,3.913%
5,2019-05-26,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,107.87,7.491%
12,2019-05-27,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,147.86,10.268%
19,2019-05-29,Bolt Mobility,0.15,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,NaN,12.68,0.881%
...,...,...,...,...,...,...,...
933370,2019-06-21,Lime,0.15,PoweredZZQOO54WD4AJT,NaN,5.45,0.378%
933372,2019-06-22,Lime,0.15,PoweredZZQOO54WD4AJT,NaN,9.76,0.678%
933375,2019-06-23,Lime,0.15,PoweredZZQOO54WD4AJT,NaN,39.65,2.753%
933380,2019-06-24,Lime,0.15,PoweredZZQOO54WD4AJT,NaN,104.92,7.286%
933385,2019-06-25,Lime,0.15,PoweredZZQOO54WD4AJT,NaN,33.92,2.356%

In [18]:
tripsduration2.drop(columns = {'tripduration'}

SyntaxError: incomplete input (1808985742.py, line 1)